@font-face {
  font-family: 'GillSans-Light';
  src: local("GillSansLightC"), url("../fonts/GillSansLightC.woff2") format("woff2"), url("../fonts/GillSansLightC.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GillSans-Regular';
  src: local("GillSansC"), local("GillSansC"), url("../fonts/GillSansC.woff2") format("woff2"), url("../fonts/GillSansC.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'GillSans-Bold';
  src: local("GillSansC-Bold"), local("GillSansLightC-Italic"), url("../fonts/GillSansC-Bold.woff2") format("woff2"), url("../fonts/GillSansC-Bold.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 20px;
  line-height: 23px;
  font-family: 'GillSans-Regular';
  font-weight: 400;
  min-width: 320px;
  color: #000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    outline: none; }

i {
  color: #000; }

button {
  cursor: pointer;
  border: none; }
  button:focus {
    outline: none; }
  button:hover {
    background: #EBEBEB; }

.btn-menu {
  background: transparent;
  padding: 0; }
  .btn-menu:hover {
    background: transparent; }

img {
  width: 100%;
  height: auto; }

input {
  outline: none; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.container {
  margin: 0 auto;
  max-width: 1355px;
  padding: 0 15px;
  width: 100%; }

.holder-languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #BEBEBE; }

.radio-btn {
  position: relative;
  padding-right: 15px; }
  .radio-btn::after {
    content: '/';
    position: absolute;
    right: 4px;
    top: 0;
    color: #000; }
  .radio-btn:last-child::after {
    display: none; }
  .radio-btn input[type=radio] {
    display: none; }
  .radio-btn label {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    user-select: none;
    text-transform: uppercase; }
    .radio-btn label:hover {
      font-weight: 600;
      color: #000; }

/* Checked */
.radio-btn input[type=radio]:checked + label {
  font-weight: 600;
  color: #000; }

.btn-model {
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  margin-bottom: 5px; }

.btn-favorites {
  background: #fff;
  border-radius: 50%;
  padding: 11px 10px 9px;
  position: absolute;
  right: 25px;
  top: 25px; }
  .btn-favorites i {
    font-size: 20px; }
  .btn-favorites:hover {
    background: #fff; }
    .btn-favorites:hover:after {
      content: "\f004";
      font-family: "FontAwesome";
      color: #9C0101;
      font-size: 20px; }
    .btn-favorites:hover i {
      display: none; }

.btn-goods {
  padding: 23px 80px 18px;
  background: #000;
  border-radius: 20px 0 20px 0;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px; }
  .btn-goods:hover {
    background: #211e1e; }

.btn_green {
  background: #117900;
  color: #fff; }
  .btn_green:hover {
    background: #259e0f; }

.btn_red {
  background: #9C0101; }
  .btn_red:hover {
    background: #bc2b2b; }

.btn_orange {
  background: #C76103; }
  .btn_orange:hover {
    background: #db7a25; }

.btn_selected i {
  display: none; }

.btn_selected:after {
  content: "\f004";
  font-family: "FontAwesome";
  color: #9C0101;
  font-size: 20px; }

.btn-form {
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  padding: 16px 28px;
  border-radius: 0 19px 19px 0; }
  .btn-form:hover {
    background: #211e1e; }

.header-top {
  margin-bottom: 8px;
  padding: 10px 0 0; }

.header-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 95px 0 170px; }

.logo {
  display: flex; }
  .logo img {
    width: 130px; }

.menu-navigation-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 750px; }
  @media only screen and (max-width: 1190px) {
    .menu-navigation-wrap {
      max-width: 720px; } }
  @media only screen and (max-width: 1023px) {
    .menu-navigation-wrap {
      max-width: 430px; } }
  @media only screen and (max-width: 767px) {
    .menu-navigation-wrap {
      position: fixed;
      z-index: 25;
      top: 0;
      right: 200%;
      width: 100%;
      transition: all .25s ease;
      max-width: inherit; } }
  .menu-navigation-wrap .menu-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%; }
    @media only screen and (max-width: 1190px) {
      .menu-navigation-wrap .menu-navigation {
        padding: 0; } }
    @media only screen and (max-width: 1023px) {
      .menu-navigation-wrap .menu-navigation {
        min-width: 400px; } }
    @media only screen and (max-width: 767px) {
      .menu-navigation-wrap .menu-navigation {
        display: block;
        padding: 80px 40px;
        min-height: 100vh;
        min-width: inherit; } }
    .menu-navigation-wrap .menu-navigation li {
      min-width: 25%;
      padding: 0 10px;
      text-align: center; }
      @media only screen and (max-width: 767px) {
        .menu-navigation-wrap .menu-navigation li {
          position: relative;
          margin-bottom: 30px;
          padding: 0; } }
      .menu-navigation-wrap .menu-navigation li a {
        font-weight: 500;
        line-height: 27px; }
        @media only screen and (max-width: 767px) {
          .menu-navigation-wrap .menu-navigation li a {
            display: block; } }
      @media only screen and (max-width: 767px) {
        .menu-navigation-wrap .menu-navigation li .holder-phone {
          display: flex;
          align-items: center;
          justify-content: center; } }
      .menu-navigation-wrap .menu-navigation li .holder-phone .icon {
        display: inline-flex; }
    .menu-navigation-wrap .menu-navigation .phone-item {
      display: none; }
      @media only screen and (max-width: 767px) {
        .menu-navigation-wrap .menu-navigation .phone-item {
          display: block;
          padding: 20px 0; } }

@media only screen and (max-width: 767px) {
  .show-menu {
    right: 0; } }

.btn-menu {
  display: none;
  position: absolute;
  top: 14px;
  right: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103; }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      display: block; } }
  .btn-menu span {
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    transform: translate(0, -50%);
    top: 50%; }
  .btn-menu .bottom {
    top: auto;
    bottom: 0; }
  .btn-menu .top {
    bottom: 0; }
  .btn-menu.active {
    background: transparent; }
    .btn-menu.active .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0; }
    .btn-menu.active .middle {
      opacity: 0; }
    .btn-menu.active .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg); }

.menu-top-wrap {
  display: flex;
  justify-content: flex-start;
  max-width: 325px;
  width: 100%; }

.menu-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%; }
  .menu-top li {
    padding-right: 10px;
    line-height: 21px;
    min-width: 42%;
    text-align: center; }

.user-info-wrap {
  display: flex;
  justify-content: flex-end;
  max-width: 500px;
  width: 100%; }

.user-info {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%; }
  .user-info li {
    position: relative;
    line-height: 21px;
    min-width: 43%;
    text-align: center;
    margin: 0 12px;
    padding-bottom: 10px; }
    .user-info li::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 0;
      width: 16px;
      height: 10px;
      background: url("../images/pointer.svg"); }
    .user-info li:first-child::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 16px;
      height: 17px;
      background: url("../images/phone.svg"); }
    .user-info li:last-child::before {
      content: "\f007";
      font-family: "FontAwesome"; }

.user-info_item {
  position: relative; }
  .user-info_item:hover .contact-list,
  .user-info_item:hover .info-list {
    display: block;
    position: absolute;
    top: 30px;
    left: -25px;
    background: #FAFAFA;
    z-index: 5; }

.contact-list,
.info-list {
  display: none;
  padding: 27px 24px 5px;
  background: #FAFAFA;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: 240px; }
  .contact-list li,
  .info-list li {
    text-align: left;
    margin: 0;
    margin-bottom: 16px;
    padding-bottom: 0; }
    .contact-list li::after,
    .info-list li::after {
      display: none; }
    .contact-list li a,
    .info-list li a {
      padding-left: 25px;
      display: block; }
    .contact-list li:last-child::before,
    .info-list li:last-child::before {
      content: "\f003";
      font-family: "FontAwesome";
      left: 0;
      top: 5px;
      position: absolute; }

.info-list li {
  text-align: left; }
  .info-list li a {
    padding-left: 25px; }
  .info-list li:last-child::before {
    content: "";
    left: 0;
    top: 5px;
    background: url("../images/output.svg");
    width: 19px;
    height: 17px; }
  .info-list li:first-child::before {
    width: 19px;
    height: 17px;
    background: url("../images/history.svg"); }

.header-bottom {
  background: #FAFAFA; }
  .header-bottom .form-group {
    width: 370px;
    position: relative; }
    .header-bottom .form-group::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 24px;
      width: 27px;
      height: 24px;
      background: url("../images/search.svg"); }
    .header-bottom .form-group input {
      width: 100%;
      border-radius: 15px;
      background: #fff;
      border: none;
      height: 50px;
      padding: 18px 40px 11px 82px; }
      .header-bottom .form-group input::placeholder {
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        color: #000; }

.menu-bottom-wrap {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  border-right: 2px solid #fff; }

.menu-bottom {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  flex-wrap: wrap; }
  .menu-bottom li {
    text-align: center;
    border-radius: 10px;
    padding: 27px 17px; }
    .menu-bottom li:hover {
      background: #EBEBEB; }
      .menu-bottom li:hover a {
        text-decoration: none; }
  .menu-bottom .catalog-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 19%;
    position: relative;
    background: #EBEBEB; }
    .menu-bottom .catalog-item:hover .display_none {
      display: block; }
    .menu-bottom .catalog-item .decor {
      height: 14px;
      width: 18px;
      position: relative; }
      .menu-bottom .catalog-item .decor span {
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        border: none;
        height: 2px;
        width: 100%;
        border-radius: 2px; }
      .menu-bottom .catalog-item .decor .middle {
        transform: translate(0, -50%);
        top: 50%;
        width: 50%; }
      .menu-bottom .catalog-item .decor .bottom {
        top: auto;
        bottom: 0; }
      .menu-bottom .catalog-item .decor .top {
        bottom: 0; }

.catalog-lists {
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #FAFAFA;
  min-width: 1280px;
  flex-wrap: wrap;
  position: absolute;
  padding: 22px 10px 35px 50px;
  left: 15px;
  top: 77px; }
  .catalog-lists ul {
    width: 19%; }
    .catalog-lists ul li {
      text-align: left;
      border-right: 0;
      padding: 0;
      margin-bottom: 10px; }
      .catalog-lists ul li a:hover {
        text-decoration: underline; }
      .catalog-lists ul li:hover {
        background: transparent; }

.header-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.basket-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 170px;
  cursor: pointer; }
  .basket-wrap span {
    display: block; }
  .basket-wrap .number {
    background: #BEBEBE;
    border-radius: 50%;
    padding: 5px; }

.name-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100px; }
  .name-basket .img-area {
    min-width: 22px; }

.banner {
  background: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 730px;
  margin-bottom: 70px; }

.goods {
  margin: 0 21px 100px; }
  .goods h3 {
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase; }

#tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px; }

.tabs-navigation {
  display: flex;
  align-items: center;
  min-width: 180px;
  justify-content: space-between;
  margin-bottom: 50px; }
  .tabs-navigation li a {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase; }
    .tabs-navigation li a:hover {
      text-decoration: none; }

.model-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .model-list li {
    max-width: 300px;
    margin-bottom: 25px; }
    .model-list li .img-area {
      position: relative; }
    .model-list li img {
      display: block; }
    .model-list li .description {
      padding: 15px 28px 17px 20px;
      border: 1px solid #BEBEBE;
      border-top: none;
      border-radius: 0 0 20px 20px; }
      .model-list li .description p {
        flex: 21px;
        line-height: 32px;
        margin-bottom: 5px; }
      .model-list li .description strong {
        display: block;
        text-align: right;
        font-size: 21px;
        line-height: 26px; }
    .model-list li .holder-btn {
      position: absolute;
      top: 75px;
      left: 0;
      max-width: 95px; }

.ui-state-active {
  padding-bottom: 4px;
  border-bottom: 2px solid #000; }

.ui-state-hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #000; }

.btn-goods-wrap {
  display: flex;
  align-items: center;
  justify-content: center; }

.blog {
  margin-bottom: 90px; }
  .blog h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 45px; }

.slick-dots {
  display: none !important; }

.slick-slide {
  padding: 0 18px; }
  .slick-slide .img-area {
    max-width: 407px; }
    .slick-slide .img-area img {
      margin-bottom: 15px; }
    .slick-slide .img-area p {
      font-size: 21px;
      line-height: 45px; }

.prev,
.next {
  background: transparent;
  height: 24px;
  width: 88px;
  padding: 0;
  margin-left: 25px; }
  .prev:hover,
  .next:hover {
    background: transparent; }

.prev {
  position: relative; }
  .prev::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 24px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0; }

.next {
  position: relative; }
  .next::after {
    content: "";
    position: absolute;
    width: 88px;
    height: 24px;
    background-image: url("../images/arrow-active.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 0; }

.btn-slider-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.slider-blog {
  margin-bottom: 20px; }

.mailing {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .mailing p {
    width: 50%;
    font-size: 30px;
    line-height: 40px; }

.form-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 22px;
  border: 2px solid #000; }
  .form-btn-wrap .form-group {
    width: 370px; }
    .form-btn-wrap .form-group input {
      height: 68px;
      background: #fff;
      border-radius: 19px 0 0 19px;
      width: 100%;
      border: none;
      padding: 22px 44px; }
      .form-btn-wrap .form-group input::placeholder {
        font-weight: 300;
        font-size: 22px;
        line-height: 36px;
        opacity: 0.6; }

.display_none {
  display: none; }

.background-padding_lactic {
  background: #FAFAFA;
  padding: 55px 0; }
