@font-face {
  font-family: 'GillSans-Light';
  src: local("GillSansLightC"), url("../fonts/GillSansLightC.woff2") format("woff2"), url("../fonts/GillSansLightC.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GillSans-Regular';
  src: local("GillSansC"), local("GillSansC"), url("../fonts/GillSansC.woff2") format("woff2"), url("../fonts/GillSansC.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'GillSans-Bold';
  src: local("GillSansC-Bold"), local("GillSansLightC-Italic"), url("../fonts/GillSansC-Bold.woff2") format("woff2"), url("../fonts/GillSansC-Bold.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 20px;
  line-height: 23px;
  font-family: 'GillSans-Regular';
  font-weight: 400;
  min-width: 320px;
  color: #000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: underline; }
  a:focus {
    outline: none; }

i {
  color: #000; }
  i:hover {
    cursor: pointer;
    color: #211e1e; }

button {
  cursor: pointer;
  border: none; }
  button:focus {
    outline: none; }
  button:hover {
    background: #EBEBEB; }

label:hover {
  cursor: pointer; }

.btn-menu {
  background: transparent;
  padding: 0; }
  .btn-menu:hover {
    background: transparent; }

.form-group {
  margin-bottom: 0; }

img {
  width: 100%;
  height: auto; }

input {
  outline: none; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700; }

.container {
  margin: 0 auto;
  max-width: 1330px;
  padding: 0 15px;
  width: 100%; }

.container-xl {
  margin: 0 auto;
  max-width: 1410px;
  padding: 0 15px;
  width: 100%; }

.languages-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 110px; }
  @media only screen and (max-width: 1240px) {
    .languages-wrap {
      min-width: 80px; } }

.holder-languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 85px;
  color: #BEBEBE; }
  @media only screen and (max-width: 1240px) {
    .holder-languages {
      min-width: 100%; } }

.radio-btn {
  position: relative; }
  .radio-btn::after {
    content: '/';
    position: absolute;
    right: 4px;
    top: 10px;
    color: #000; }
    @media only screen and (max-width: 1240px) {
      .radio-btn::after {
        right: 0;
        top: 5px; } }
  .radio-btn:last-child label {
    padding: 10px 10px 10px 0; }
  .radio-btn:last-child::after {
    display: none; }
  .radio-btn input[type=radio] {
    display: none; }
  .radio-btn label {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    user-select: none;
    text-transform: uppercase;
    padding: 10px 15px 10px 10px; }
    @media only screen and (max-width: 1240px) {
      .radio-btn label {
        padding: 5px 9px 5px 5px; } }
    @media only screen and (max-width: 767px) {
      .radio-btn label {
        font-family: 'GillSans-Bold';
        font-weight: 600;
        font-size: 16px;
        line-height: 20px; } }
    .radio-btn label:hover {
      font-weight: 600;
      color: #000; }

/* Checked */
.radio-btn input[type=radio]:checked + label {
  font-weight: 600;
  color: #000; }

.radio-btn .active {
  font-weight: 600;
  color: #000; }

.btn-model {
  font-family: 'GillSans-Regular';
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  margin-bottom: 5px; }

.btn-favorites {
  background: #fff;
  border-radius: 50%;
  padding: 11px 10px 6px;
  position: absolute;
  right: 25px;
  top: 25px; }
  @media only screen and (max-width: 1240px) {
    .btn-favorites {
      padding: 11px 10px 7px;
      right: 15px;
      top: 15px; } }
  @media only screen and (max-width: 1023px) {
    .btn-favorites {
      right: 5px;
      top: 5px; } }
  @media only screen and (max-width: 767px) {
    .btn-favorites {
      padding: 0 6px 1px;
      right: 11px;
      top: 13px; } }
  .btn-favorites i {
    color: #EB5757;
    font-size: 20px; }
    @media only screen and (max-width: 767px) {
      .btn-favorites i {
        font-size: 13px; } }
  .btn-favorites:hover {
    background: #fff; }
    .btn-favorites:hover:after {
      content: "\f004";
      font-family: "FontAwesome";
      color: #EB5757;
      font-size: 20px; }
      @media only screen and (max-width: 767px) {
        .btn-favorites:hover:after {
          font-size: 13px; } }
    .btn-favorites:hover i {
      display: none; }

.btn-goods {
  font-family: 'GillSans-Bold';
  padding: 23px 100px 18px;
  background: #000;
  border-radius: 20px 0 20px 0;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px; }
  @media only screen and (max-width: 1240px) {
    .btn-goods {
      padding: 23px 70px 18px; } }
  @media only screen and (max-width: 767px) {
    .btn-goods {
      font-size: 15px;
      line-height: 36px;
      padding: 4px 15px 4px; } }
  .btn-goods:hover {
    background: #211e1e; }

.btn_green {
  background: #117900;
  color: #fff; }
  .btn_green:hover {
    background: #259e0f; }

.btn_red {
  background: #9C0101; }
  .btn_red:hover {
    background: #EB5757; }

.btn_orange {
  background: #C76103; }
  .btn_orange:hover {
    background: #db7a25; }

.btn_selected i {
  display: none; }

.btn_selected:after {
  content: "\f004";
  font-family: "FontAwesome";
  color: #EB5757;
  font-size: 20px; }
  @media only screen and (max-width: 767px) {
    .btn_selected:after {
      font-size: 13px; } }

.btn-form {
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  padding: 16px 32px;
  max-width: 185px;
  border-radius: 0 19px 19px 0; }
  .btn-form:hover {
    background: #211e1e; }
  @media only screen and (max-width: 767px) {
    .btn-form {
      font-size: 14px;
      line-height: 36px;
      padding: 4px 11px;
      border-radius: 0 12px 12px 0;
      color: #FAFAFA; } }

.btn-drop {
  font-family: 'GillSans-Regular';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background: transparent;
  border: none;
  color: #000;
  position: relative;
  padding: 10px 22px 10px 33px; }
  .btn-drop:hover {
    background: transparent;
    color: #000; }
  .btn-drop::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 0;
    width: 16px;
    height: 10px;
    background: url("../images/pointer.svg"); }

.header-top {
  padding: 10px 0 8px; }
  @media only screen and (max-width: 1023px) {
    .header-top {
      display: none; } }

.header-top-content {
  display: flex;
  align-items: center;
  justify-content: center; }

.logo {
  display: flex; }
  .logo img {
    width: 130px; }
    @media only screen and (max-width: 767px) {
      .logo img {
        width: 85px; } }

.menu-top-wrap {
  display: flex;
  justify-content: flex-start;
  min-width: 335px; }
  @media only screen and (max-width: 1240px) {
    .menu-top-wrap {
      min-width: auto; } }

.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 270px;
  flex-wrap: wrap; }
  .menu-top li {
    padding-right: 10px;
    line-height: 21px; }
    .menu-top li a {
      font-size: 20px;
      line-height: 23px;
      display: block;
      padding: 10px 20px 10px 10px; }
      @media only screen and (max-width: 1240px) {
        .menu-top li a {
          padding: 10px 5px; } }

.user-info-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 510px; }
  @media only screen and (max-width: 1240px) {
    .user-info-wrap {
      min-width: 420px;
      margin-left: 10px; } }

.user-info-holder {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  flex-wrap: wrap; }
  .user-info-holder .dropdown:first-child {
    margin-left: 0; }
  @media only screen and (max-width: 1240px) {
    .user-info-holder {
      min-width: 100%; } }

.dropdown {
  margin: 0 0 0 45px; }
  @media only screen and (max-width: 1240px) {
    .dropdown {
      margin: 0 0 0 10px; } }

.dropdown-menu {
  left: -11px !important;
  background-color: #FAFAFA;
  padding: 8px 4px 5px 22px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: 240px;
  width: 100%;
  border: none;
  overflow: hidden; }

.dropdown-item {
  display: block;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  padding: 12px 12px 12px 32px;
  text-decoration: none;
  white-space: normal; }
  .dropdown-item:hover {
    text-decoration: underline;
    background-color: transparent; }
  .dropdown-item:active {
    background-color: transparent; }

.header-bottom {
  margin-bottom: 10px;
  background: #FAFAFA; }
  @media only screen and (max-width: 1023px) {
    .header-bottom {
      display: none; } }
  .header-bottom form {
    width: 370px; }
    @media only screen and (max-width: 1240px) {
      .header-bottom form {
        width: 310px; } }
  .header-bottom .form-group {
    position: relative; }
    .header-bottom .form-group::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 24px;
      width: 27px;
      height: 24px;
      background: url("../images/search.svg"); }
      @media only screen and (max-width: 1240px) {
        .header-bottom .form-group::after {
          left: 15px; } }
    .header-bottom .form-group input {
      font-size: 21px;
      line-height: 21px;
      width: 100%;
      border-radius: 15px;
      background: #fff;
      border: none;
      height: 50px;
      padding: 11px 20px 11px 82px; }
      @media only screen and (max-width: 1240px) {
        .header-bottom .form-group input {
          padding: 11px 20px 11px 50px; } }
      .header-bottom .form-group input::placeholder {
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        color: #000; }

.nav-wrap {
  border-right: 2px solid #fff; }

.menu-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .menu-bottom li {
    text-align: center;
    border-radius: 10px; }
    .menu-bottom li a {
      display: block;
      padding: 29px 16px 24px 19px; }
    .menu-bottom li:hover {
      background: #EBEBEB; }
      .menu-bottom li:hover a {
        text-decoration: none; }

.catalog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #EBEBEB; }
  .catalog-item .decor {
    height: 14px;
    width: 18px;
    position: relative; }
    .catalog-item .decor span {
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      border: none;
      height: 2px;
      width: 100%;
      border-radius: 2px; }
    .catalog-item .decor .middle {
      transform: translate(0, -50%);
      top: 50%;
      width: 50%; }
    .catalog-item .decor .bottom {
      top: auto;
      bottom: 0; }
    .catalog-item .decor .top {
      bottom: 0; }
  .catalog-item .dropdown {
    margin: 0; }
  .catalog-item .btn-drop {
    padding: 29px 15px 24px 45px; }
    .catalog-item .btn-drop::after {
      display: none; }
    .catalog-item .btn-drop:before {
      content: "";
      position: absolute;
      top: 33px;
      left: 17px;
      width: 18px;
      height: 14px;
      background-image: url("../images/decor-btn.svg");
      background-repeat: no-repeat; }
  .catalog-item .dropdown-menu {
    border-radius: 0 0 20px 20px;
    background: #FAFAFA;
    min-width: 1280px;
    flex-wrap: wrap;
    position: absolute;
    padding: 22px 10px 42px 50px;
    left: 17px !important;
    top: -2px !important; }
    @media only screen and (max-width: 1240px) {
      .catalog-item .dropdown-menu {
        left: 7px !important;
        padding: 22px 10px 35px 20px;
        min-width: 990px;
        top: 158px !important; } }
    .catalog-item .dropdown-menu .ul-area {
      display: inline-grid;
      max-width: 320px;
      width: 100%; }
      .catalog-item .dropdown-menu .ul-area:last-child {
        max-width: 245px; }
      @media only screen and (max-width: 1240px) {
        .catalog-item .dropdown-menu .ul-area {
          max-width: 235px; } }
      .catalog-item .dropdown-menu .ul-area li a {
        padding: 0; }
    .catalog-item .dropdown-menu ul li {
      font-weight: 400;
      text-align: left;
      border-right: 0;
      padding: 0;
      margin-bottom: 10px; }
      .catalog-item .dropdown-menu ul li a {
        padding: 10px;
        font-size: 20px;
        line-height: 23px; }
        .catalog-item .dropdown-menu ul li a:hover {
          text-decoration: underline; }
      .catalog-item .dropdown-menu ul li:hover {
        background: transparent; }

.basket-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 170px;
  cursor: pointer; }
  .basket-wrap span {
    font-size: 20px;
    line-height: 23px; }
  @media only screen and (max-width: 1240px) {
    .basket-wrap {
      max-width: 140px; } }
  .basket-wrap span {
    display: block; }
  .basket-wrap .number {
    background: #EBEBEB;
    border-radius: 50%;
    padding: 6px 7px; }

.name-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100px; }
  .name-basket .img-area {
    min-width: 22px; }

/*table css*/
.mobile-header {
  padding: 10px 0;
  display: none;
  position: relative;
  z-index: 50; }
  @media only screen and (max-width: 1023px) {
    .mobile-header {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .mobile-header {
      padding: 0; } }

.mobile-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .mobile-header-content .search-and-basket .dropdown {
    margin: 0 15px; }
    @media only screen and (max-width: 767px) {
      .mobile-header-content .search-and-basket .dropdown {
        margin: 0; } }

.menu-navigation-wrap {
  width: 100%;
  position: fixed;
  z-index: 25;
  top: 90px;
  right: 200%;
  transition: all .25s ease; }
  @media only screen and (max-width: 767px) {
    .menu-navigation-wrap {
      top: 46px; } }

.menu-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  background: #fff;
  min-height: 100vh;
  box-shadow: 0 14px 20px -18px rgba(34, 60, 80, 0.35) inset; }
  @media only screen and (max-width: 767px) {
    .menu-navigation {
      padding: 17px; } }
  .menu-navigation .holder-languages {
    margin-bottom: 20px;
    width: fit-content;
    min-width: 80px; }
    @media only screen and (max-width: 767px) {
      .menu-navigation .holder-languages {
        margin-bottom: 0; } }

@media only screen and (max-width: 1023px) {
  .show-menu {
    right: 0; } }

.btn-menu-wrap {
  max-width: 100px;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .btn-menu-wrap {
      max-width: 65px; } }

.btn-menu {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103; }
  @media only screen and (max-width: 1023px) {
    .btn-menu {
      display: block; } }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      height: 18px;
      top: 17px; } }
  .btn-menu span {
    background: #000;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 50%; }
  .btn-menu .bottom {
    top: auto;
    bottom: 0; }
  .btn-menu .top {
    bottom: 0; }
  .btn-menu.active {
    background: transparent; }
    .btn-menu.active .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0; }
      @media only screen and (max-width: 767px) {
        .btn-menu.active .top {
          top: -4px; } }
    .btn-menu.active .middle {
      opacity: 0; }
    .btn-menu.active .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg); }

.search-and-basket {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 767px) {
    .search-and-basket {
      max-width: 65px; } }
  .search-and-basket .dropdown-menu {
    top: 18px !important;
    left: -10px !important;
    min-width: 340px;
    padding: 10px 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    @media only screen and (max-width: 767px) {
      .search-and-basket .dropdown-menu {
        min-width: 293px;
        left: -10px !important;
        top: 17px !important; } }
  .search-and-basket input {
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    border-radius: 15px;
    background: #fff;
    border: 1px solid #EBEBEB;
    height: 50px;
    padding: 10px; }
    .search-and-basket input::placeholder {
      font-weight: 400;
      font-size: 21px;
      line-height: 25px;
      color: #000; }
  .search-and-basket .dropdown {
    margin: 0; }
  .search-and-basket .btn-drop {
    padding: 10px; }
    @media only screen and (max-width: 767px) {
      .search-and-basket .btn-drop {
        padding: 8px; }
        .search-and-basket .btn-drop img {
          width: 20px; } }
    .search-and-basket .btn-drop:after {
      display: none; }

.basket-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  padding: 10px 0; }
  .basket-list li .img-area {
    max-width: 100px; }
  .basket-list li .description {
    text-align: right; }

.accordion-wrap {
  margin-bottom: 20px; }
  @media only screen and (max-width: 767px) {
    .accordion-wrap {
      margin-bottom: 2px; } }

.accordion {
  font-family: 'GillSans-Bold';
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  border-bottom: 1px solid #000;
  position: relative;
  background: #fff;
  padding: 10px 0;
  width: 100%;
  text-align: left; }
  @media only screen and (max-width: 767px) {
    .accordion {
      font-size: 14px;
      line-height: 17px;
      padding: 11px 0; } }
  .accordion:after {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    width: 16px;
    height: 10px;
    background-image: url("../images/pointer.svg");
    background-repeat: no-repeat; }
    @media only screen and (max-width: 767px) {
      .accordion:after {
        background-image: url("../images/pointer-mobile.svg");
        width: 7px;
        height: 12px; } }
  .accordion:hover {
    background: transparent; }

.active {
  border-bottom: none; }
  .active:after {
    transform: rotate(-90deg);
    transition: all .35s ease; }

.panel {
  font-family: 'GillSans-Light';
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  background-color: white;
  display: none;
  overflow: hidden;
  border-bottom: 1px solid #000;
  padding: 0 0 10px; }
  @media only screen and (max-width: 767px) {
    .panel ul li {
      font-size: 14px;
      line-height: 16px; } }
  .panel ul a {
    display: block;
    padding: 5px 5px 5px 0; }
    .panel ul a:hover {
      text-decoration: underline; }

@media only screen and (max-width: 767px) {
  .phone-wrap {
    font-size: 14px;
    line-height: 17px; } }

.phone-wrap a {
  display: block;
  padding: 4px 4px 4px 25px; }
  @media only screen and (max-width: 767px) {
    .phone-wrap a {
      margin-bottom: 3px;
      font-size: 14px;
      line-height: 17px;
      font-family: 'GillSans-Regular';
      font-weight: 400; } }

.banner {
  background: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 730px;
  margin-bottom: 70px; }
  @media only screen and (max-width: 1023px) {
    .banner {
      min-height: 470px;
      margin-bottom: 40px; } }
  @media only screen and (max-width: 767px) {
    .banner {
      min-height: 150px;
      margin-bottom: 17px; } }

.goods {
  margin-bottom: 100px;
  padding: 0 10px; }
  @media only screen and (max-width: 1023px) {
    .goods {
      margin-bottom: 40px; } }
  @media only screen and (max-width: 767px) {
    .goods {
      margin: 0 0 40px; } }
  .goods h3 {
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .goods h3 {
        font-family: 'GillSans-Bold';
        font-weight: 600;
        font-size: 16px;
        line-height: 20px; } }

#tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; }
  @media only screen and (max-width: 1023px) {
    #tabs {
      margin-bottom: 10px; } }

.tabs-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1023px) {
    .tabs-navigation {
      margin-bottom: 40px; } }
  @media only screen and (max-width: 767px) {
    .tabs-navigation {
      min-width: 140px;
      margin-bottom: 18px; } }

.ui-tabs-tab {
  margin: 0 15px; }

.ui-tabs-anchor {
  display: block;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  padding: 10px 0 6px; }
  @media only screen and (max-width: 767px) {
    .ui-tabs-anchor {
      font-size: 14px;
      line-height: 17px;
      padding: 6px 0 6px; } }
  .ui-tabs-anchor:hover {
    text-decoration: none; }

.ui-state-active,
.ui-state-hover {
  position: relative; }
  .ui-state-active:after,
  .ui-state-hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #000; }

.model-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .model-list .description {
    padding: 15px 28px 17px 20px;
    border: 1px solid #EBEBEB;
    border-top: none;
    border-radius: 0 0 20px 20px; }
    @media only screen and (max-width: 1240px) {
      .model-list .description {
        padding: 4px 4px 11px 4px; } }
    @media only screen and (max-width: 767px) {
      .model-list .description {
        padding: 5px 12px 2px 12px;
        border-radius: 0 0 18px 18px; } }
    .model-list .description p {
      flex: 21px;
      line-height: 32px;
      margin-bottom: 5px; }
      @media only screen and (max-width: 767px) {
        .model-list .description p {
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 12px; } }
    .model-list .description strong {
      font-family: 'GillSans-Bold';
      display: block;
      text-align: right;
      font-size: 21px;
      line-height: 26px;
      font-weight: 600; }
      @media only screen and (max-width: 767px) {
        .model-list .description strong {
          font-size: 12px;
          line-height: 15px; } }
  .model-list li {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 25px; }
    @media only screen and (max-width: 1023px) {
      .model-list li {
        padding: 0 5px; } }
    @media only screen and (max-width: 767px) {
      .model-list li {
        width: 50%;
        margin-bottom: 17px; }
        .model-list li:nth-child(5), .model-list li:nth-child(6), .model-list li:nth-child(7), .model-list li:nth-child(8) {
          display: none; } }
    .model-list li .img-area {
      position: relative; }
    .model-list li img {
      display: block; }
    .model-list li .holder-btn {
      position: absolute;
      top: 73px;
      left: 0;
      max-width: 88px; }
      @media only screen and (max-width: 767px) {
        .model-list li .holder-btn {
          display: none; } }

.tab-content {
  margin: 0 -15px; }

.btn-goods-wrap {
  display: flex;
  align-items: center;
  justify-content: center; }

.blog {
  margin-bottom: 90px; }
  @media only screen and (max-width: 1023px) {
    .blog {
      margin-bottom: 50px; } }
  @media only screen and (max-width: 767px) {
    .blog {
      margin-bottom: 13px; } }
  .blog h3 {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 45px;
    padding-left: 18px; }
    @media only screen and (max-width: 1023px) {
      .blog h3 {
        margin-bottom: 20px; } }
    @media only screen and (max-width: 767px) {
      .blog h3 {
        font-family: 'GillSans-Bold';
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding-left: 4px;
        margin-bottom: 8px; } }

.slick-dots {
  display: none !important; }

.slick-slide {
  padding: 0 18px; }
  @media only screen and (max-width: 1023px) {
    .slick-slide {
      padding: 0 5px; } }
  .slick-slide .img-area {
    max-width: 407px; }
    .slick-slide .img-area img {
      margin-bottom: 25px; }
      @media only screen and (max-width: 1023px) {
        .slick-slide .img-area img {
          margin-bottom: 5px; } }
      @media only screen and (max-width: 767px) {
        .slick-slide .img-area img {
          margin-bottom: 10px; } }
    .slick-slide .img-area p {
      font-size: 21px;
      line-height: 25px; }
      @media only screen and (max-width: 1023px) {
        .slick-slide .img-area p {
          line-height: 27px; } }
      @media only screen and (max-width: 767px) {
        .slick-slide .img-area p {
          font-size: 14px;
          line-height: 17px; } }

.prev,
.next {
  background: transparent;
  height: 24px;
  width: 88px;
  padding: 0;
  margin-left: 25px; }
  @media only screen and (max-width: 767px) {
    .prev,
    .next {
      width: 46px;
      height: 43px;
      margin-left: 9px; } }
  .prev:hover,
  .next:hover {
    background: transparent; }

.prev {
  position: relative;
  margin-left: 0; }
  .prev::after {
    content: "";
    position: absolute;
    width: 47px;
    height: 24px;
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0; }
    @media only screen and (max-width: 767px) {
      .prev::after {
        background-image: url("../images/arrow-mobile.svg");
        width: 25px;
        height: 24px;
        top: 8px; } }

.next {
  position: relative; }
  .next::after {
    content: "";
    position: absolute;
    width: 88px;
    height: 24px;
    background-image: url("../images/arrow-active.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 767px) {
      .next::after {
        background-image: url("../images/arrow-active-mobile.svg");
        width: 46px;
        height: 24px;
        right: 0;
        left: auto;
        top: 8px; } }

.btn-slider-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 18px; }
  @media only screen and (max-width: 767px) {
    .btn-slider-holder {
      margin-right: 0; } }

.slider-blog {
  margin-bottom: 30px; }
  @media only screen and (max-width: 767px) {
    .slider-blog {
      margin-bottom: 5px; } }

@media only screen and (max-width: 1023px) {
  .mailing .row {
    flex-direction: column; } }

@media only screen and (max-width: 1023px) {
  .mailing .row .col {
    width: 100%; } }

.mailing p {
  font-size: 30px;
  line-height: 40px; }
  @media only screen and (max-width: 1023px) {
    .mailing p {
      width: 100%;
      text-align: center;
      margin-bottom: 20px; } }
  @media only screen and (max-width: 767px) {
    .mailing p {
      font-size: 14px;
      line-height: 21px;
      padding-right: 20px;
      text-align: left;
      margin-bottom: 5px; } }

.form-btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  @media only screen and (max-width: 1023px) {
    .form-btn-wrap {
      justify-content: center; } }
  .form-btn-wrap .form-group {
    border: 2px solid #000;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    width: 375px; }
    @media only screen and (max-width: 1240px) {
      .form-btn-wrap .form-group {
        width: 340px; } }
    @media only screen and (max-width: 1023px) {
      .form-btn-wrap .form-group {
        width: 320px; } }
    @media only screen and (max-width: 767px) {
      .form-btn-wrap .form-group {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px; } }
    .form-btn-wrap .form-group input {
      font-size: 20px;
      line-height: 20px;
      height: 64px;
      background: #fff;
      border-radius: 19px 0 0 19px;
      width: 100%;
      border: none;
      padding: 12px 17px; }
      @media only screen and (max-width: 1240px) {
        .form-btn-wrap .form-group input {
          padding: 22px 15px; } }
      @media only screen and (max-width: 767px) {
        .form-btn-wrap .form-group input {
          padding: 5px 4px 5px 14px;
          height: 40px;
          border-radius: 12px 0 0 12px; } }
      .form-btn-wrap .form-group input::placeholder {
        font-family: 'GillSans-Light';
        font-weight: 300;
        font-size: 22px;
        line-height: 36px; }
        @media only screen and (max-width: 767px) {
          .form-btn-wrap .form-group input::placeholder {
            font-size: 14px;
            line-height: 36px; } }

.footer {
  padding: 32px 0; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 7px 0; } }

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media only screen and (max-width: 1023px) {
    .footer-content {
      flex-wrap: wrap; } }
  .footer-content .logo-and-socials {
    margin-right: 10px; }
    @media only screen and (max-width: 1023px) {
      .footer-content .logo-and-socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 0;
        width: 100%; } }
    .footer-content .logo-and-socials .socials {
      display: none; }
      @media only screen and (max-width: 1023px) {
        .footer-content .logo-and-socials .socials {
          display: block; } }
      @media only screen and (max-width: 767px) {
        .footer-content .logo-and-socials .socials h3 {
          font-size: 14px;
          line-height: 36px; } }
  .footer-content .logo img {
    width: 160px; }
    @media only screen and (max-width: 767px) {
      .footer-content .logo img {
        width: 114px; } }

.footer-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1075px;
  width: 100%;
  margin-top: 18px; }
  @media only screen and (max-width: 1240px) {
    .footer-navigation {
      max-width: 845px; } }
  @media only screen and (max-width: 1023px) {
    .footer-navigation {
      flex-direction: column-reverse;
      max-width: 100%; } }
  @media only screen and (max-width: 767px) {
    .footer-navigation {
      margin-top: 10px; } }
  .footer-navigation ul {
    max-width: 245px;
    width: 100%; }
    @media only screen and (max-width: 1240px) {
      .footer-navigation ul {
        max-width: 200px; } }
    @media only screen and (max-width: 767px) {
      .footer-navigation ul {
        max-width: 133px; } }
    .footer-navigation ul li {
      margin-bottom: 10px; }
      @media only screen and (max-width: 767px) {
        .footer-navigation ul li {
          margin-bottom: 0; } }
  .footer-navigation a {
    font-size: 21px;
    line-height: 25px; }
    @media only screen and (max-width: 767px) {
      .footer-navigation a {
        font-size: 14px;
        line-height: 24px; } }

.navigation-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 525px;
  width: 100%;
  flex-wrap: wrap; }
  @media only screen and (max-width: 1240px) {
    .navigation-wrap {
      max-width: 405px; } }
  @media only screen and (max-width: 1023px) {
    .navigation-wrap {
      max-width: 100%; } }
  @media only screen and (max-width: 767px) {
    .navigation-wrap {
      flex-direction: row-reverse; } }

.schedule-and-socials {
  display: flex;
  justify-content: space-between;
  max-width: 510px;
  width: 100%;
  flex-wrap: wrap; }
  @media only screen and (max-width: 1240px) {
    .schedule-and-socials {
      max-width: 415px; } }
  @media only screen and (max-width: 1023px) {
    .schedule-and-socials {
      margin-bottom: 20px;
      max-width: 100%; } }
  .schedule-and-socials .contact {
    display: none; }
    @media only screen and (max-width: 1023px) {
      .schedule-and-socials .contact {
        display: block; } }
    .schedule-and-socials .contact h3 {
      font-weight: 400;
      margin-bottom: 10px; }
      @media only screen and (max-width: 767px) {
        .schedule-and-socials .contact h3 {
          font-size: 14px;
          line-height: 36px;
          margin-bottom: 0; } }
    @media only screen and (max-width: 767px) {
      .schedule-and-socials .contact a {
        font-family: 'GillSans-Light';
        font-weight: 300;
        font-size: 14px;
        line-height: 36px; } }
  .schedule-and-socials .contact-list a {
    display: block;
    padding: 5px 5px 5px 0; }
    @media only screen and (max-width: 767px) {
      .schedule-and-socials .contact-list a {
        padding: 0; } }
  @media only screen and (max-width: 1023px) {
    .schedule-and-socials .socials {
      display: none; } }

.schedule {
  font-family: 'GillSans-Light';
  font-weight: 300;
  font-size: 21px;
  line-height: 36px;
  max-width: 310px;
  width: 100%; }
  @media only screen and (max-width: 1240px) {
    .schedule {
      max-width: 210px; } }
  @media only screen and (max-width: 767px) {
    .schedule {
      max-width: 150px; } }
  .schedule h3 {
    font-family: 'GillSans-Regular';
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 36px; }
    @media only screen and (max-width: 767px) {
      .schedule h3 {
        font-size: 14px;
        line-height: 36px;
        margin-bottom: 0; } }
  .schedule ul li {
    font-weight: 300;
    margin-bottom: 3px; }
    @media only screen and (max-width: 767px) {
      .schedule ul li {
        font-size: 14px;
        line-height: 36px;
        margin-bottom: 0; } }

.socials {
  font-size: 21px;
  line-height: 36px;
  max-width: 200px;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .socials {
      max-width: 140px; } }
  .socials h3 {
    font-size: 21px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 10px; }
    @media only screen and (max-width: 767px) {
      .socials h3 {
        margin-bottom: 0; } }
  .socials img {
    display: block; }

.socials-list-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .socials-list-wrap .socials-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 90px;
    width: auto; }
    @media only screen and (max-width: 767px) {
      .socials-list-wrap .socials-list {
        min-width: 55px; } }
    .socials-list-wrap .socials-list i {
      font-size: 42px; }
      @media only screen and (max-width: 767px) {
        .socials-list-wrap .socials-list i {
          font-size: 25px; } }

.display_none {
  display: none; }

.background-padding-lactic {
  background: #FAFAFA;
  padding: 55px 0; }
  @media only screen and (max-width: 1023px) {
    .background-padding-lactic {
      padding: 25px 0; } }
  @media only screen and (max-width: 767px) {
    .background-padding-lactic {
      padding: 40px 0; } }

.history-img {
  position: relative; }
  .history-img::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 19px;
    height: 17px;
    background: url("../images/history.svg");
    background-repeat: no-repeat; }

.output-img {
  position: relative; }
  .output-img::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    background: url("../images/output.svg");
    width: 19px;
    height: 17px;
    background-repeat: no-repeat; }

.mail-img {
  position: relative; }
  .mail-img::before {
    content: "\f003";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 25px; }

.phone-img {
  position: relative; }
  .phone-img::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 17px;
    height: 17px;
    background: url("../images/phone.svg");
    background-repeat: no-repeat; }
    @media only screen and (max-width: 767px) {
      .phone-img::before {
        background-image: url("../images/phonr-mobile.svg");
        background-repeat: no-repeat; } }

.private-img {
  position: relative; }
  .private-img::before {
    content: "\f007";
    position: absolute;
    left: 0;
    top: 8px;
    font-family: "FontAwesome"; }

.position-left_15 {
  position: absolute;
  left: -11px !important; }

.overflow-y {
  height: 300px;
  overflow-y: scroll; }

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .row .col {
    width: 50%;
    padding: 0 15px; }

.display-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
