@import "variables";
@import "mixin";

.account-wrap {
  margin-bottom: 95px;

  @include breakpoint($mobile) {
    margin-bottom: 15px;
  }

  .display_none {
    display: block;

    @include breakpoint($mobile) {
      display: none;
    }
  }

  .row {
    align-items: flex-start;
  }
}

.table {
  width: 100%;

  h3 {
    font-family: $font-gillSans-bold;
    font-weight: 600;
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 33px;

    @include breakpoint($mobile) {
      display: none;
    }
  }

  .table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $silver-middle;

    &:last-child {
      border-bottom: none;
    }
  }

  .table-item {
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    border-right: 1px solid $silver-middle;
    padding: 15px 0;

    @include breakpoint($mobile) {
      font-size: 12px;
      line-height: 14px;
      padding: 6px 0;
    }

    &:last-child {
      border-right: none;
    }
  }

  .bold {
    font-family: $font-gillSans-extra-bold;
    font-weight: 700;
  }
}

.info-bonus-user {
  #tabs {
    align-items: inherit;
  }

  .tabs-navigation {
    justify-content: center;
  }

  .tab-content {
    margin: 0;

    @include breakpoint($tablet) {
      margin: 0 -15px;
    }

    @include breakpoint($tablet) {
      margin: 0;
    }


    p {
      font-size: 21px;
      line-height: 21px;
      margin-bottom: 15px;

      @include breakpoint($mobile) {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 5px;
      }
    }
  }
}