@import "variables";
@import "mixin";

.account-wrap {
  margin-bottom: 95px;

  @include breakpoint($mobile) {
    margin-bottom: 15px;
  }

  .display_none {
    display: block;

    @include breakpoint($mobile) {
      display: none;
    }
  }
}

.table {
  width: 100%;

  h3 {
    font-family: $font-gillSans-bold;
    font-weight: 600;
    font-size: $font-size-base +1;
    line-height: $line-height-base - 2;
    margin-bottom: 33px;

    @include breakpoint($mobile) {
      display: none;
    }
  }

  .table-row {
    display: flex;
    border-bottom: 1px solid $silver-middle;

    &:last-child {
      border-bottom: none;
    }
  }

  .table-item {
    font-size: $font-size-base + 1;
    line-height: $line-height-base + 2;
    text-align: center;
    width: 100%;
    border-right: 1px solid $silver-middle;
    padding: 15px 0;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 8;
      line-height: $line-height-base - 9;
      padding: 6px 0;
    }

    &:last-child {
      border-right: none;
    }
  }

  .bold {
    font-family: $font-gillSans-extra-bold;
    font-weight: 700;
  }
}

.info-bonus-user {
  .tab-content {
    margin: 0;

    @include breakpoint($tablet) {
      margin: 0 -15px;
    }

    @include breakpoint($tablet) {
      margin: 0;
    }


    p {
      font-size: $font-size-base + 1;
      line-height: $line-height-base - 2;
      margin-bottom: 15px;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 6;
        line-height: $line-height-base - 2;
        margin-bottom: 5px;
      }
    }
  }
}