@import "mixin";
@import "variables";

.holder-languages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 85px;
  color: $light-gray;
}

.radio-btn {
  position: relative;
  padding-right: 15px;

  &::after {
    content: '/';
    position: absolute;
    right: 4px;
    top: 0;
    color: $black;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }

  input[type=radio] {
    display: none;
  }

  label {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    user-select: none;
    text-transform: uppercase;

    @include breakpoint($mobile) {
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      font-weight: 600;
      color: $black;
    }
  }
}

/* Checked */
.radio-btn {
  input[type=radio]:checked + label {
    font-weight: 600;
    color: $black;
  }
}

.btn-model {
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  width: 100%;
  color: $white;
  margin-bottom: 5px;
}

.btn-favorites {
  background: $white;
  border-radius: 50%;
  padding: 11px 10px 9px;
  position: absolute;
  right: 25px;
  top: 25px;

  @include breakpoint($desktop) {
    padding: 11px 10px 7px;
  }

  @include breakpoint($mobile) {
    padding: 0 6px 1px;
    right: 11px;
    top: 13px;
  }

  i {
    font-size: 20px;

    @include breakpoint($mobile) {
      font-size: 13px;
    }
  }

  &:hover {
    background: $white;

    &:after {
      content: "\f004";
      font-family: "FontAwesome";
      color: $red;
      font-size: 20px;

      @include breakpoint($mobile) {
        font-size: 13px;
      }
    }

    i {
      display: none;
    }
  }
}

.btn-goods {
  padding: 23px 80px 18px;
  background: $black;
  border-radius: 20px 0 20px 0;
  color: $white ;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;

  &:hover {
    background: $light-black;
  }
}

.btn_green {
  background: $green;
  color: $white;

  &:hover {
    background: $light-green;
  }
}

.btn_red {
  background: $red;

  &:hover {
    background: $light-red;
  }

}

.btn_orange {
  background: $orange;

  &:hover {
    background: $light-orange;
  }
}

.btn_selected {
  i {
    display: none;
  }
  &:after {
    content: "\f004";
    font-family: "FontAwesome";
    color: $red;
    font-size: 20px;

    @include breakpoint($mobile) {
      font-size: 13px;
    }
  }
}

.btn-form {
  background: $black;
  color: $white;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  padding: 16px 28px;
  border-radius: 0 19px 19px 0;

  &:hover {
    background: $light-black;
  }
}

.btn-drop {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background: transparent;
  border: none;
  color: $black;
  position: relative;
  padding: 0 20px 10px 30px;

  &:hover {
    background: transparent;
    color: $black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 16px;
    height: 10px;
    background: url("../images/pointer.svg");
  }
}



