@import "mixin";
@import "variables";

.languages-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 110px;

  @include breakpoint($desktop) {
    min-width: 80px;
  }
}

.holder-languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 85px;
  color: $middle-grey;

  @include breakpoint($desktop) {
    min-width: 100%;
  }
}

.radio-btn {
  position: relative;

  &::after {
    content: '/';
    position: absolute;
    right: 4px;
    top: 10px;
    color: $black;

    @include breakpoint($desktop) {
      right: 0;
      top: 5px;
    }
  }

  &:last-child {
    label {
      padding: 10px 10px 10px 0;
    }
    &::after {
      display: none;
    }
  }

  input[type=radio] {
    display: none;
  }

  label {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    user-select: none;
    text-transform: uppercase;
    padding: 10px 15px 10px 10px;

    @include breakpoint($desktop) {
      padding: 5px 9px 5px 5px;
    }

    @include breakpoint($mobile) {
      font-family: 'GillSans-Bold';
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      font-weight: 600;
      color: $black;
    }
  }
}

/* Checked */
.radio-btn {
  input[type=radio]:checked + label {
    font-weight: 600;
    color: $black;
  }

  .active {
    font-weight: 600;
    color: $black;
  }
}

.btn-model {
  font-family: 'GillSans-Regular';
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-transform: uppercase;
  width: 100%;
  color: $white;
  margin-bottom: 5px;
}

.btn-favorites {
  background: $white;
  border-radius: 50%;
  padding: 11px 10px 6px;
  position: absolute;
  right: 25px;
  top: 25px;

  @include breakpoint($desktop) {
    padding: 11px 10px 7px;
    right: 15px;
    top: 15px;
  }

  @include breakpoint($tablet) {
    right: 5px;
    top: 5px;
  }

  @include breakpoint($mobile) {
    padding: 0 6px 1px;
    right: 11px;
    top: 13px;
  }

  i {
    color: $light-red;
    font-size: 20px;

    @include breakpoint($mobile) {
      font-size: 13px;
    }
  }

  &:hover {
    background: $white;

    &:after {
      content: "\f004";
      font-family: "FontAwesome";
      color: $light-red;
      font-size: 20px;

      @include breakpoint($mobile) {
        font-size: 13px;
      }
    }

    i {
      display: none;
    }
  }
}

.btn-goods {
  font-family: 'GillSans-Bold';
  padding: 23px 100px 18px;
  background: $black;
  border-radius: 20px 0 20px 0;
  color: $white ;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;

  @include breakpoint($desktop) {
    padding: 23px 70px 18px;
  }

  @include breakpoint($mobile) {
    font-size: 15px;
    line-height: 36px;
    padding: 4px 15px 4px;
  }

  &:hover {
    background: $light-black;
  }
}

.btn_green {
  background: $green;
  color: $white;

  &:hover {
    background: $light-green;
  }
}

.btn_red {
  background: $red;

  &:hover {
    background: $light-red;
  }

}

.btn_orange {
  background: $orange;

  &:hover {
    background: $light-orange;
  }
}

.btn_selected {
  i {
    display: none;
  }
  &:after {
    content: "\f004";
    font-family: "FontAwesome";
    color: $light-red;
    font-size: 20px;

    @include breakpoint($mobile) {
      font-size: 13px;
    }
  }
}

.btn-form {
  background: $black;
  color: $white;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  padding: 16px 32px;
  max-width: 185px;
  border-radius: 0 19px 19px 0;

  &:hover {
    background: $light-black;
  }

  @include  breakpoint($mobile) {
    font-size: 14px;
    line-height: 36px;
    padding: 4px 11px;
    border-radius: 0 12px 12px 0;
    color: $lactic;
  }
}

.btn-drop {
  font-family: 'GillSans-Regular';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background: transparent;
  border: none;
  color: $black;
  position: relative;
  padding: 10px 22px 10px 33px;

  &:hover {
    background: transparent;
    color: $black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 0;
    width: 16px;
    height: 10px;
    background: url("../images/pointer.svg");
  }
}

.btn-article {
  font-family: 'GillSans-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: $dark-grey;
  border-radius: 15px;
  padding: 6px 18px;

  &:hover {
    background: $dark-grey-two;
  }
}

.btn-secondary {
  font-family: 'GillSansExtraBold';
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: $black;
  background: transparent;
  border: none;

  &:hover {
    background: transparent;
    color: $dark-grey-two;
  }

  &:focus {
    outline: none;
    background: transparent;
    color: $dark-grey-two;
    border: none;
    box-shadow: none;
  }
}

.btn-link {
  font-family: 'GillSans-Regular';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: block;
  color: $black;
  position: relative;
  padding: 5px 60px 5px 0;
  min-width: 200px;
  width: fit-content;

  &:hover {
    color: $dark;
    text-decoration: none;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-image: url("../images/arrow-right.svg");
    background-repeat: no-repeat;
    width: 47px;
    height: 15px;
  }
}

.btn-md {
  padding: 20px 45px;
}

.btn-xl {
  padding: 20px 95px;
}

.grey-btn {
  background: $middle-grey;

  &:hover {
    background: $black;
  }
}

.btn-red-two {
  background: $light-red-two;

  &:hover {
    background: $light-red;
  }
}



