@import "variables";
@import "mixin";

.card-product-wrap {
  margin: 0 10px 35px;

  @include breakpoint($mobile) {
    margin: 0 10px 15px;
  }

  .row {
    align-items: flex-start;

    @include breakpoint($mobile) {
      flex-direction: column;
    }

    .col {
      padding: 0 5px;

      @include breakpoint($mobile) {
        width: 100%;
      }
    }
  }
}

.card-product {
  .img-block {
    display: flex;

    @include breakpoint($mobile) {
      flex-direction: column;
    }

    .img-area {
      @include breakpoint($mobile) {
        button {
          display: none;
        }
      }
    }
  }

  .img-small {
    @include breakpoint($mobile) {
      display: flex;
    }
  }

  .img-block > .img-area {
    max-width: 480px;
    width: 100%;
    margin-right: 35px;

    img {
      border-radius: 20px;
    }

    @include breakpoint($desktop) {
      margin-right: 10px;
    }

    @include breakpoint($mobile) {
      margin-right: 0;
      margin-bottom: 7px;
    }

    .btn-favorites {
      right: 44px;
      top: 42px;

      @include breakpoint($desktop) {
        right: 15px;
        top: 15px;
      }

      &:hover {
        &:after {
          font-size: $font-size-base + 6;
        }
      }


      i {
        font-size: $font-size-base + 6;
      }
    }
  }
}

.info-product {
  padding: 20px 0;

  @include breakpoint($mobile) {
    padding: 0;
  }
}

.info-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;

  @include breakpoint($mobile) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  .name-block {
    max-width: 450px;
    width: 100%;

    @include breakpoint($desktop) {
      max-width: 335px;
      margin-bottom: 25px;
    }

    @include breakpoint($mobile) {
      max-width: 100%;
    }

    strong {
      display: none;

      @include breakpoint($mobile) {
        font-family: $font-gillSans-bold;
        font-weight: 600;
        display: block;
        font-size: $font-size-base - 4;
        line-height: $line-height-base - 3;
        color: $black;
      }
    }
  }
}

.img-small {
  @include breakpoint($mobile) {
    flex-wrap: wrap;
  }

  .img-area {
    margin-bottom: 25px;

    @include breakpoint($mobile) {
      max-width: 80px;
      margin-right: 16px;
      margin-bottom: 15px;
    }
  }
}

.name-block {
  h3 {
    font-weight: 400;
    font-size: $font-size-base + 6;
    line-height: $line-height-base - 7;
    margin-bottom: 7px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 4;
      line-height: $line-height-base - 4;
      margin-bottom: 5px;
    }
  }

  .bonus {
    display: flex;
    align-items: center;
    margin-bottom: 7px;

    @include breakpoint($mobile) {
      margin-bottom: 5px;
    }

    p {
      font-size: $font-size-base;
      line-height: $line-height-base;
      margin-right: 10px;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 8;
        line-height: $line-height-base - 9;
      }
    }
  }
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 190px;
  width: 100%;
  text-align: right;

  @include breakpoint($desktop) {
    max-width: 140px;
  }

  @include breakpoint($tablet) {
    max-width: 100px;
  }

  @include breakpoint($mobile) {
    max-width: 100%;
    align-items: flex-start;
  }

  strong {
    display: block;
    font-family: $font-gillSans-bold;
    font-weight: 600;
    font-size: $font-size-base;
    line-height: $line-height-base + 1;
    color: $chestnut-rose;
    margin-bottom: 13px;

    @include breakpoint($mobile) {
      display: none;
    }
  }

  p {
    font-size: $font-size-base + 1;
    line-height: $line-height-base + 2;
    color: $japanese-laurel;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 6;
      line-height: $line-height-base - 6;
      color: $black;
      font-family: $base-font-default;
      font-weight: 400;
      text-align: left;
    }
  }
}

.description-block {
  margin-bottom: 30px;

  @include breakpoint($mobile) {
    margin-bottom: 0;
  }

  h3 {
    font-family: $base-font-default;
    font-weight: 400;
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-bottom: 10px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 6;
      line-height: $line-height-base - 6;
      margin-bottom: 8px;
    }
  }

  .description {
    font-size: $font-size-base - 2;
    line-height: $line-height-base + 4;
    color: $silver-middle;
    margin-bottom: 20px;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 8;
      line-height: $line-height-base - 5;
      margin-bottom: 7px;
    }
  }

  strong {
    font-family: $base-font-default;
    font-weight: 400;
    color: $black;
  }

  .holder-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint($tablet) {
      justify-content: center;
    }

  }

  button {
    margin-bottom: 10px;

    @include breakpoint($tablet) {
      margin-right: 0;
      width: 100%;

      &:last-child {
        margin-right: 0;
      }
    }

    @include breakpoint($mobile) {
      margin-bottom: 15px;
    }
  }
}

.size-block {
  margin-bottom: 20px;

  @include breakpoint($mobile) {
    margin-bottom: 5px;
  }

  .size {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($mobile) {
      justify-content: space-between;
      margin-bottom: 4px;
    }
  }
}

.form_radio_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 5px;

  @include breakpoint($tablet) {
    margin-right: 10px;
  }

  label {
    font-size: $font-size-base;
    line-height: $line-height-base;
    cursor: pointer;
    padding: 7px 16px;
    border: none;
    border-radius: 15px;
    user-select: none;
    background: $mine-shaft;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 6;
      line-height: $line-height-base - 4;
      padding: 4px 7px;
    }

    &:hover {
      background: $silver;
    }
  }
}

.form_radio_btn input[type=radio] {
  display: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
  background: $silver;
}

.color-block {
  margin-bottom: 42px;

  h3 {
    @include breakpoint($mobile) {
      font-family: $font-gillSans-bold;
      font-weight: 600;
    }
  }

  @include breakpoint($mobile) {
    margin-bottom: 20px;
  }
}

.color {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include breakpoint($mobile) {
    justify-content: space-between;
  }

  label {
    border-radius: 50%;
    padding: 22px;

    @include breakpoint($mobile) {
      padding: 17px;
    }
  }

  .form_radio_btn input[type=radio]:checked + label {
    border: 2px solid $black;
  }
}

.card-product-tabs {
  #tabs {
    align-items: flex-start;
    margin-bottom: 48px;

    @include breakpoint($mobile) {
      margin-bottom: 7px;
    }
  }

  .tabs-navigation {
    margin-left: -30px;
    margin-bottom: 22px;

    @include breakpoint($desktop) {
      margin-left: 0;
      flex-wrap: wrap;
      align-items: center;
    }

    @include breakpoint($mobile) {
      flex-direction: column;
      min-width: 100%;
      margin-bottom: 5px;
    }
  }

  .ui-tabs-tab {
    @include breakpoint($mobile) {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }

  .ui-tabs-tab {
    @include breakpoint($desktop) {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  .tab-content {
    @include breakpoint($desktop) {
      margin: 0;
    }
  }

  .ui-tabs-anchor {
    font-size: $font-size-base;
    line-height: $line-height-base + 13;
    text-transform: none;
    padding: 0 50px;

    @include breakpoint($desktop) {
      padding: 0 20px;
    }

    @include breakpoint($tablet) {
      padding: 0 12px;
    }

    @include breakpoint($mobile) {
      font-size: $font-size-base - 6;
      line-height: $line-height-base + 13;
    }
  }

  #tabs-1,
  #tabs-2,
  #tabs-3,
  #tabs-4,
  #tabs-5 {
    max-width: 700px;

    @include breakpoint($tablet) {
      max-width: 100%;
    }

    h3 {
      font-family: $base-font-default;
      font-weight: 400;
      font-size: $font-size-base + 6;
      line-height: $line-height-base + 13;
      margin-bottom: 10px;

      @include breakpoint($mobile) {
        font-family: $font-gillSans-bold;
        font-weight: 600;
        font-size: $font-size-base - 4;
        line-height: $line-height-base + 13;
        margin-bottom: 3px;
      }
    }

    p {
      font-family: $font-gillSans-light;
      font-weight: 300;
      font-size: $font-size-base + 1;
      line-height: $line-height-base + 9;
      margin-bottom: 30px;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 6;
        line-height: $line-height-base - 2;
        margin-bottom: 17px;
      }

      a {
        color: $chestnut-rose;
      }
    }

    strong {
      display: block;
    }

    .name-and-rating > p {
      font-family: $font-gillSans-bold;
      font-weight: 600;
      font-size: $font-size-base;
      line-height: $line-height-base + 1;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 6;
        line-height: $line-height-base - 6;
      }
    }

    .name-and-rating {
      margin-bottom: 37px;
      flex-wrap: wrap;

      @include breakpoint($mobile) {
        margin-bottom: 17px;
      }

      .rating-result {
        span {
          margin: 0 13px;

          @include breakpoint($mobile) {
            margin: 0 9px;

            &:last-child {
              margin-right: 22px;
            }
          }
        }
      }
    }

    .name-block {
      margin-bottom: 35px;
    }
  }
}

.rating-result {
  display: flex;

  span {
    padding: 13px;
    margin: 0 3px;
    position: relative;

    &:after {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      top: 0;
      right: 0;
      background: url("../images/star-transparent.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.rating-result > span.active {
  position: relative;

  &:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../images/star.svg");
    background-repeat: no-repeat;
    transform: rotate(-73deg);
  }
}

.name-and-rating {
  display: flex;
  justify-content: space-between;
}

.slider-reviews {
  .slick-slide {
    background: $alabaster;
    border-radius: 15px;
    padding: 25px;
  }
}

.reviews-wrap {
  display: flex;
  justify-content: space-between;
  min-width: 1280px;

  @include breakpoint($desktop) {
    min-width: 990px;
  }

  @include breakpoint($tablet) {
    min-width: 740px;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
    min-width: 100%;
  }
}

.reviews {
  .name-and-rating {
    display: none;

    @include breakpoint($mobile) {
      display: flex;
    }
  }
  textarea {
    background: $alabaster;
    border-radius: 20px;
    border: none;
    width: 734px;
    height: 382px;
    resize: none;
    padding: 35px 50px;

    @include breakpoint($desktop) {
      width: 530px;
      height: 370px;
      padding: 25px 40px;
    }

    @include breakpoint($tablet) {
      width: 370px;
      height: 310px;
    }

    @include breakpoint($mobile) {
      width: 100%;
      height: 312px;
      padding: 22px 25px;
    }

    &::placeholder {
      font-family: $base-font-default;
      font-weight: 400;
      color: $silver-middle;
      font-size: $font-size-base;
      line-height: $line-height-base;

      @include breakpoint($mobile) {
        font-size: $font-size-base - 5;
        line-height: $line-height-base - 5;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

.card-product-tabs {
  #tabs-5 > {
    p {
      line-height: $line-height-base + 2;

      @include breakpoint($mobile) {
        line-height: $line-height-base - 2;
      }
    }

    .name-block {
      .bonus > {
        p {
          font-family: $base-font-default;
          font-weight: 400;
          font-size: $font-size-base;
          line-height: $line-height-base;

          @include breakpoint($mobile) {
            font-size: $font-size-base - 8;
            line-height: $line-height-base - 9;
          }
        }
      }
    }
  }
}

.estimate {
  max-width: 515px;
  width: 100%;
  margin-top: 25px;

  @include breakpoint($desktop) {
    max-width: 405px;
  }

  @include breakpoint($tablet) {
    max-width: 345px;
  }

  @include breakpoint($mobile) {
    margin-top: 15px;
    max-width: 100%;
  }

  button {
    @include breakpoint($mobile) {
      width: 100%;
    }
  }

  .name-and-rating {
    @include breakpoint($mobile) {
      display: none;
    }
  }
}

.suggestions {
  margin-bottom: 85px;

  @include breakpoint($mobile) {
    margin-bottom: 20px;
    padding-top: 32px;
  }

  h3 {
    font-family: $font-gillSans-bold;
    font-weight: 600;
    font-size: $font-size-base + 6;
    line-height: $line-height-base + 9;
    margin-bottom: 40px;
    text-transform: uppercase;

    @include breakpoint($mobile) {
      font-size: $font-size-base - 5;
      line-height: $line-height-base - 3;
      margin-bottom: 15px;
    }
  }
}

.slider-suggestions {
  margin-bottom: 40px;

  @include breakpoint($mobile) {
    margin-bottom: 10px;
  }
}

.slider-reviews {
  .slick-slide {
    width: 427px;
  }
}




