@import "mixin";
@import "variables";

.featured-products-wrap {
  margin-bottom: 70px;

  .row {
    align-items: flex-start;
  }
}

.featured-products {
  margin: 0 -15px;

  .model-list {
    li {
      width: 50%;
    }
  }
}