@font-face {
  font-family: 'GillSans-Light';
  src: local('GillSansLightC'),
  url('../fonts/GillSansLightC.woff2') format('woff2'),
  url('../fonts/GillSansLightC.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Regular';
  src: local('GillSansC'), local('GillSansC'),
  url('../fonts/GillSansC.woff2') format('woff2'),
  url('../fonts/GillSansC.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GillSans-Bold';
  src: local('GillSansC-Bold'), local('GillSansLightC-Italic'),
  url('../fonts/GillSansC-Bold.woff2') format('woff2'),
  url('../fonts/GillSansC-Bold.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

