@import "variables";
@import "mixin";

.footer {
  padding: 32px 0;
}

.footer-content-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 1230px;

  @include breakpoint($desktop) {
    min-width: 100%;
  }

  @include breakpoint($tablet) {
    min-width: min-content;
    display: block;
  }

  .logo {
    margin-right: 10px;

    @include breakpoint($tablet) {
      display: inline-block;
      float: left;
    }
    img {
      width: 155px;
    }
  }
}

.footer-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 1015px;
  margin-top: 15px;

  @include breakpoint($desktop) {
    min-width: 775px;
  }

  @include breakpoint($tablet) {
    min-width: 585px;
    flex-wrap: wrap-reverse;

  }

  ul {
    max-width: 230px;
    width: 100%;

    @include breakpoint($desktop) {
      max-width: 200px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  a {
    font-size: 21px;
    line-height: 25px;
  }
}

.schedule {
  font-size: 21px;
  line-height: 36px;

  h3 {
    font-weight: 400;
    margin-bottom: 10px;
  }

  ul {
    li {
      font-weight: 300;
      margin-bottom: 3px;
    }
  }
}

.socials {
  font-size: 21px;
  line-height: 36px;

  h3 {
    font-weight: 400;
    margin-bottom: 10px;
  }

  img {
    display: block;
  }
}

.socials-list-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .socials-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 90px;
    width: auto;

    li {
      margin-right: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
