@import "variables";
@import "mixin";

.footer {
  padding: 32px 0;

  @include breakpoint($mobile) {
    padding: 7px 0;
  }
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include breakpoint($tablet) {
    flex-wrap: wrap;
  }

  .logo-and-socials {
    margin-right: 10px;

    @include breakpoint($tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 0;
      width: 100%;
    }

    .socials {
      display: none;

      @include breakpoint($tablet) {
        display: block;
      }

      h3 {
        @include breakpoint($mobile) {
          font-size: 14px;
          line-height: 36px;
        }
      }
    }
  }

  .logo {
    img {
      width: 160px;

      @include breakpoint($mobile) {
        width: 114px;
      }
    }
  }
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1075px;
  width: 100%;
  margin-top: 15px;

  @include breakpoint($desktop) {
    max-width: 845px;
  }

  @include breakpoint($tablet) {
    flex-direction: column-reverse;
    max-width: 100%;
  }

  @include breakpoint($mobile) {
    margin-top: 10px;
  }

  ul {
    max-width: 245px;
    width: 100%;

    @include breakpoint($desktop) {
      max-width: 200px;
    }

    @include breakpoint($mobile) {
      max-width: 133px;
    }

    li {
      margin-bottom: 10px;

      @include breakpoint($mobile) {
        margin-bottom: 0;
      }
    }
  }

  a {
    font-size: 21px;
    line-height: 25px;

    @include breakpoint($mobile) {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.navigation-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 525px;
  width: 100%;
  flex-wrap: wrap;

  @include breakpoint($desktop) {
    max-width: 405px;
  }

  @include breakpoint($tablet) {
    max-width: 100%;
  }

  @include breakpoint($mobile) {
    flex-direction: row-reverse;
  }
}

.schedule-and-socials {
  display: flex;
  justify-content: space-between;
  max-width: 510px;
  width: 100%;
  flex-wrap: wrap;

  @include breakpoint($desktop) {
    max-width: 415px;
  }

  @include breakpoint($tablet) {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .contact {
    display: none;

    @include breakpoint($tablet) {
      display: block;
    }

    h3 {
      font-weight: 400;
      margin-bottom: 10px;

      @include breakpoint($mobile) {
        font-size: 14px;
        line-height: 36px;
        margin-bottom: 0;
      }
    }

    a {
      @include breakpoint($mobile) {
        font-family: 'GillSans-Light';
        font-weight: 300;
        font-size: 14px;
        line-height: 36px;
      }
    }
  }

  .contact-list {
    a {
      display: block;
      padding: 5px 5px 5px 0;

      @include breakpoint($mobile) {
        padding: 0;
      }
    }
  }

  .socials {
    @include breakpoint($tablet) {
      display: none;
    }
  }
}

.schedule {
  font-family: 'GillSans-Light';
  font-weight: 300;
  font-size: 21px;
  line-height: 36px;
  max-width: 310px;
  width: 100%;

  @include breakpoint($desktop) {
    max-width: 210px;
  }

  @include breakpoint($mobile) {
    max-width: 150px;
  }

  h3 {
    font-family: 'GillSans-Regular';
    font-weight: 400;
    margin-bottom: 10px;

    @include breakpoint($mobile) {
      font-size: 14px;
      line-height: 36px;
      margin-bottom: 0;
    }
  }

  ul {
    li {
      font-weight: 300;
      margin-bottom: 3px;

      @include breakpoint($mobile) {
        font-size: 14px;
        line-height: 36px;
        margin-bottom: 0;
      }
    }
  }
}

.socials {
  font-size: 21px;
  line-height: 36px;
  max-width: 200px;
  width: 100%;

  @include breakpoint($mobile) {
    max-width: 140px;
  }

  h3 {
    font-weight: 400;
    margin-bottom: 10px;

    @include breakpoint($mobile) {
      margin-bottom: 0;
    }
  }

  img {
    display: block;
  }
}

.socials-list-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .socials-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 90px;
    width: auto;

    @include breakpoint($mobile) {
      min-width: 55px;
    }

    i {
      font-size: 42px;

      @include breakpoint($mobile) {
        font-size: 25px;
      }
    }
  }
}
