@import "variables";
@import "mixin";

.footer {
  padding: 32px 0;
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .logo {
    margin-right: 10px;
  }
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 1075px;
  margin-top: 15px;

  @include breakpoint($desktop) {
    min-width: 1035px;
  }

  ul {
    max-width: 245px;
    width: 100%;

    @include breakpoint($desktop) {
      max-width: 240px;
    }

    li {
      margin-bottom: 10px;
    }
  }

  a {
    font-size: 21px;
    line-height: 25px;
  }
}

.navigation-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 525px;
  width: 100%;
  flex-wrap: wrap;

  @include breakpoint($desktop) {
    max-width: 485px;
  }
}

.schedule-and-socials {
  display: flex;
  justify-content: space-between;
  max-width: 510px;
  width: 100%;
  flex-wrap: wrap;
}

.schedule {
  font-size: 21px;
  line-height: 36px;
  max-width: 310px;
  width: 100%;

  @include breakpoint($desktop) {
    max-width: 290px;
  }

  h3 {
    font-weight: 400;
    margin-bottom: 10px;
  }

  ul {
    li {
      font-weight: 300;
      margin-bottom: 3px;
    }
  }
}

.socials {
  font-size: 21px;
  line-height: 36px;
  max-width: 200px;
  width: 100%;

  h3 {
    font-weight: 400;
    margin-bottom: 10px;
  }

  img {
    display: block;
  }
}

.socials-list-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .socials-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 90px;
    width: auto;

    li {
      margin-right: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
