@import "variables";
@import "mixin";

.header-top {
  padding: 10px 0 8px;

  @include breakpoint($tablet) {
    display: none;
  }
}

.header-top-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;

  img {
    width: 130px;
  }
}

.menu-top-wrap {
  display: flex;
  justify-content: flex-start;
  min-width: 325px;

  @include breakpoint($desktop) {
    min-width: auto;
  }
}

.menu-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 270px;
  flex-wrap: wrap;

  li {
    padding-right: 10px;
    line-height: 21px;
  }
}

.user-info-wrap {
  display: flex;
  justify-content: flex-end;
  min-width: 500px;
  flex-wrap: wrap;

  @include breakpoint($desktop) {
    min-width: 490px;
  }
}

.dropdown {
  margin: 0 0 0 45px;
}

.dropdown-menu {
  left: -25px !important;
  background-color: $lactic;
  padding: 33px 24px 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: 240px;
  width: 100%;
  border: none;
  overflow: hidden;
}

.dropdown-item {
  display: block;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  padding: 0 0 12px 32px;
  text-decoration: none;
  white-space: normal;

  &:hover {
    text-decoration: underline;
    background-color:  transparent;
  }

  &:active {
    background-color:  transparent;
  }
}

.header-bottom {
  background: $lactic;

  @include breakpoint($tablet) {
    display: none;
  }

  form {
    width: 370px;

    @include breakpoint($desktop) {
      width: 310px;
    }
  }

  .form-group {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 24px;
      width: 27px;
      height: 24px;
      background: url("../images/search.svg");

      @include breakpoint($desktop) {
        left: 15px;
      }
    }

    input {
      font-size: 20px;
      line-height: 20px;
      width: 100%;
      border-radius: 15px;
      background: $lactic;
      border: none;
      height: 50px;
      padding: 11px 20px 11px 82px;

      @include breakpoint($desktop) {
        padding: 11px 20px 11px 50px;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        color: $black;
      }
    }
  }
}

.menu-bottom-wrap {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  border-right: 2px solid $white;
}

.menu-bottom {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;

  li {
    text-align: center;
    border-radius: 10px;
    padding: 27px 17px;

    &:hover {
      background: $dark-grey;

      a {
        text-decoration: none;
      }
    }
  }
}

.catalog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 125px;
  width: 100%;
  position: relative;
  background: $dark-grey;

  .decor {
    height: 14px;
    width: 18px;
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      background: $black;
      border: none;
      height: 2px;
      width: 100%;
      border-radius: 2px;
    }

    .middle {
      transform: translate(0, -50%);
      top: 50%;
      width: 50%;
    }

    .bottom {
      top: auto;
      bottom: 0;
    }

    .top {
      bottom: 0;
    }
  }

  .dropdown {
    margin: 0;
  }

  .btn-drop {
    padding: 0;

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    border-radius: 0 0 20px 20px;
    background: $lactic;
    min-width: 1280px;
    flex-wrap: wrap;
    position: absolute;
    padding: 22px 10px 35px 50px;
    left: 15px;
    top: 25px !important;

    @include breakpoint($desktop) {
      left: 277px !important;
      padding: 22px 10px 35px 20px;
      min-width: 990px;
    }

    .ul-area {
      display: inline-grid;
      max-width: 300px;
      width: 100%;

      @include breakpoint($desktop) {
        max-width: 235px;
      }
    }

    ul {
      li {
        font-weight: 400;
        text-align: left;
        border-right: 0;
        padding: 0;
        margin-bottom: 10px;

        a {
          font-size: 20px;
          line-height: 21px;
          &:hover {
            text-decoration: underline;
          }
        }

        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.header-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 170px;
  cursor: pointer;

  @include breakpoint($desktop) {
    max-width: 140px;
  }

  span {
    display: block;
  }

  .number {
    background: $light-gray;
    border-radius: 50%;
    padding: 5px;
  }
}

.name-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100px;

  .img-area {
    min-width: 22px;
  }
}

/*table css*/
.mobile-header {
  padding: 10px 0;
  display: none;

  @include breakpoint($tablet) {
    display: block;
  }
}

.mobile-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-navigation-wrap {
  width: 100%;
  position: fixed;
  z-index: 25;
  top: 90px;
  right: 200%;
  transition: all .25s ease;
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  background: $white;
  min-height: 100vh;
  box-shadow: 0 14px 20px -18px rgba(34, 60, 80, 0.35) inset;

  .holder-languages {
    margin-bottom: 50px;
  }
}


.show-menu {
  @include breakpoint($tablet) {
    right: 0;
  }
}

.btn-menu-wrap {
  max-width: 100px;
  width: 100%;
}

.btn-menu {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;

  @include breakpoint($tablet) {
    display: block;
  }

  span {
    background: $black;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 50%;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }

  .top {
    bottom: 0;
  }

  &.active {
    background: transparent;
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
    }
  }
}

.search-and-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120px;
  width: 100%;

  .dropdown-menu {
    top: 18px !important;
    left: -10px !important;
    min-width: 340px;
    padding: 10px 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  input {
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    border-radius: 15px;
    background: $white;
    border: 1px solid $dark-grey;
    height: 50px;
    padding: 10px;

    &::placeholder {
      font-weight: 400;
      font-size: 21px;
      line-height: 25px;
      color: $black;
    }
  }

  .dropdown {
    margin: 0;
  }

  .btn-drop {
    padding: 10px;

    &:after {
      display: none;
    }
  }
}

.basket-list {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $dark-grey;
    border-bottom: 1px solid $dark-grey;
    padding: 10px 0;

    .img-area {
      max-width: 100px;
    }

    .description {
      text-align: right;
    }
  }
}

.accordion-wrap {
  margin-bottom: 50px;
}

.accordion {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: $black;
  border-bottom: 1px solid $black;
  position: relative;
  background: $white;
  padding: 10px 0;
  width: 100%;
  text-align: left;

  &:after {
    content: "";
    position: absolute;
    top: 18px;
    right: 0;
    width: 16px;
    height: 10px;
    background-image: url("../images/pointer.svg");
  }

  &:hover {
    background: transparent;
  }
}

.active {
  border-bottom: none;

  &:after {
    transform: rotate(-90deg);
    transition: all .35s ease;
  }
}

.panel {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: $black;
  background-color: white;
  display: none;
  overflow: hidden;
  border-bottom: 1px solid $black;
  padding: 0 0 10px;

  ul {
    li {
      margin-bottom: 10px;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.phone-wrap {
  a {
    display: block;
    margin-bottom: 10px;
    padding-left: 25px;
  }
}

