@import "variables";
@import "mixin";

.header-top {
  padding: 10px 0 8px;

  @include breakpoint($tablet) {
    display: none;
  }
}

.header-top-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;

  img {
    width: 130px;

    @include breakpoint($mobile) {
      width: 85px;
    }
  }
}

.holder-languages {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 110px;
  color: $silver-middle;

  @include breakpoint($desktop) {
    min-width: 100%;
  }
}

.menu-top {
  display: flex;
  align-items: center;
  min-width: 335px;
  flex-wrap: wrap;

  li {
    font-size: $font-size-base;
    line-height: $line-height-base;
    margin-right: 20px;

    a {
      display: block;
      padding: 10px;

      @include breakpoint($desktop) {
        padding: 10px 5px;
      }
    }
  }
}

.user-info-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 510px;
  flex-wrap: wrap;

  .dropdown {
    &:first-child {
      margin-left: 0;
    }
  }

  @include breakpoint($desktop) {
    min-width: 100%;
  }
}

.dropdown {
  margin: 0 0 0 45px;

  @include breakpoint($desktop) {
    margin: 0 0 0 10px;
  }
}

.dropdown-menu {
  left: -11px !important;
  background-color: $alabaster;
  padding: 8px 4px 5px 22px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  min-width: 240px;
  width: 100%;
  border: none;
  overflow: hidden;
}

.dropdown-item {
  display: block;
  font-family: $base-font-family;
  line-height: $line-height-base;
  font-weight: 400;
  padding: 12px 12px 12px 32px;
  text-decoration: none;
  white-space: normal;
  position: relative;

  &:hover {
    text-decoration: underline;
    background-color:  transparent;
  }

  &:active {
    background-color:  transparent;
  }
}







.header-bottom {
  margin-bottom: 10px;
  background: $alabaster;

  @include breakpoint($tablet) {
    display: none;
  }

  form {
    width: 370px;

    @include breakpoint($desktop) {
      width: 310px;
    }
  }

  .form-group {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 24px;
      width: 27px;
      height: 24px;
      background: url("../images/search.svg");

      @include breakpoint($desktop) {
        left: 15px;
      }
    }

    input {
      font-family: $base-font-family;
      font-size: $font-size-base + 1;
      line-height: $line-height-base - 2;
      width: 100%;
      border-radius: 15px;
      background: $white;
      border: none;
      height: 50px;
      padding: 11px 20px 11px 82px;

      @include breakpoint($desktop) {
        padding: 11px 20px 11px 50px;
      }

      &::placeholder {
        font-weight: 400;
        font-family: $base-font-family;
        font-size: $font-size-base + 1;
        line-height: $line-height-base + 2;
        color: $black;
      }
    }
  }
}














.nav-wrap {
  border-right: 2px solid $white;
}

.menu-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  li {
    text-align: center;
    border-radius: 10px;

    a {
      display: block;
      padding: 29px 16px 24px 19px;
    }

    &:hover {
      background: $silver;

      a {
        text-decoration: none;
      }
    }
  }
}

.catalog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: $gallery;

  .decor {
    height: 14px;
    width: 18px;
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      background: $black;
      border: none;
      height: 2px;
      width: 100%;
      border-radius: 2px;
    }

    .middle {
      transform: translate(0, -50%);
      top: 50%;
      width: 50%;
    }

    .bottom {
      top: auto;
      bottom: 0;
    }

    .top {
      bottom: 0;
    }
  }

  .dropdown {
    margin: 0;
  }

  .btn-drop {
    padding: 29px 15px 24px 45px;

    &::after {
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 33px;
      left: 17px;
      width: 18px;
      height: 14px;
      background-image: url("../images/decor-btn.svg");
      background-repeat: no-repeat;
    }
  }

  .dropdown-menu {
    border-radius: 0 0 20px 20px;
    background: $alabaster;
    min-width: 1280px;
    flex-wrap: wrap;
    position: absolute;
    padding: 22px 10px 42px 50px;
    left: 17px !important;
    top: -2px !important;

    @include breakpoint($desktop) {
      left: 7px !important;
      padding: 22px 10px 35px 20px;
      min-width: 990px;
      top: -2px !important;
    }

    .ul-area {
      display: inline-grid;
      max-width: 320px;
      width: 100%;

      &:last-child {
        max-width: 245px;
      }

      @include breakpoint($desktop) {
        max-width: 233px;
      }

      li {
        a {
          padding: 0;
        }
      }
    }

    ul {
      li {
        font-weight: 400;
        text-align: left;
        border-right: 0;
        padding: 0;
        margin-bottom: 10px;

        a {
          padding: 10px;
          font-size: $font-size-base;
          line-height: $line-height-base;
          &:hover {
            text-decoration: underline;
          }
        }

        &:hover {
          background: transparent;
        }
      }
    }
  }
}

.basket-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 170px;
  cursor: pointer;

  span {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }

  @include breakpoint($desktop) {
    max-width: 140px;
  }

  span {
    display: block;
  }

  .number {
    background: $gallery;
    border-radius: 50%;
    padding: 6px 7px;
  }
}

.name-basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100px;

  .img-area {
    min-width: 22px;
  }
}

/*table css*/
.mobile-header {
  padding: 10px 0;
  display: none;
  position: relative;
  z-index: 50;

  @include breakpoint($tablet) {
    display: block;
  }

  @include breakpoint($mobile) {
    padding: 0;
  }
}

.mobile-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .search-basket {
    .dropdown {
      margin: 0 15px;

      @include breakpoint($mobile) {
        margin: 0;
      }
    }
  }
}

.menu-navigation-wrap {
  width: 100%;
  position: fixed;
  z-index: 25;
  top: 90px;
  right: 200%;
  transition: all .25s ease;

  @include breakpoint($mobile) {
    top: 46px;
  }
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  background: $white;
  min-height: 100vh;
  box-shadow: 0 14px 20px -18px rgba(34, 60, 80, 0.35) inset;

  @include breakpoint($mobile) {
    padding: 17px;
  }

  .holder-languages {
    margin-bottom: 20px;
    width: fit-content;
    min-width: 80px;

    @include breakpoint($mobile) {
      margin-bottom: 0;
    }
  }
}

.show-menu {
  @include breakpoint($tablet) {
    right: 0;
  }
}

.btn-menu-wrap {
  max-width: 100px;
  width: 100%;

  @include breakpoint($mobile) {
    max-width: 65px;
  }
}

.btn-menu {
  display: none;
  position: absolute;
  top: 25px;
  left: 0;
  height: 22px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;

  @include breakpoint($tablet) {
    display: block;
  }

  @include breakpoint($mobile) {
    height: 18px;
    top: 17px;
  }

  span {
    background: $black;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    transform: translate(0, -50%);
    top: 50%;
    width: 50%;
  }

  .bottom {
    top: auto;
    bottom: 0;
  }

  .top {
    bottom: 0;
  }

  &.active {
    background: transparent;
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 0;

      @include breakpoint($mobile) {
        top: -4px;
      }
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      bottom: 4px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
    }
  }
}













.search-basket {
  display: flex;
  justify-content: space-between;

  @include breakpoint($mobile) {
    max-width: 65px;
  }

  .dropdown-menu {
    top: 18px !important;
    left: -10px !important;
    min-width: 340px;
    padding: 10px 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @include  breakpoint($mobile) {
      min-width: 293px;
      left: -10px !important;
      top: -1px !important;
    }
  }

  .dropdown {
    margin: 0;
  }

  .input-group {
    max-width: 367px;
  }

  .btn-drop {
    padding: 10px;

    @include breakpoint($mobile) {
      padding: 8px;

      img {
        width: 20px;
      }
    }

    &:after {
      display: none;
    }
  }
}

.btn-outline-secondary {
  position: relative;
  border-radius: 15px 0 0 15px;
  background: $white;
  padding: 10px 30px 10px 40px;
  border: none;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
    background-color: transparent;
    background: $white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 24px;
    background: url("../images/search.svg");
    z-index: 50;
  }
}

.form-control {
  font-family: $base-font-default;
  font-size: $font-size-base + 1;
  line-height: $line-height-base +1;
  height: 50px;
  border-radius: 0 15px 15px 0;
  color: $black;
  border: none;

  &::placeholder {
    font-size: $font-size-base + 1;
    line-height: $line-height-base +1;
    color: $black;
  }

  &:focus {
    box-shadow: none;
    border-color: transparent;
    color: $black;
  }
}

.basket-list {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $mine-shaft;
    border-bottom: 1px solid $mine-shaft;
    padding: 10px 0;

    .img-area {
      max-width: 100px;
    }

    .description-model-item {
      text-align: right;
      border: none;
      max-width: 190px;
    }
  }
}

.accordion-wrap {
  margin-bottom: 20px;

  @include breakpoint($mobile) {
    margin-bottom: 2px;
  }
}

.accordion {
  font-family: $font-gillSans-bold;
  font-weight: 600;
  font-size: 2$font-size-base;
  line-height: $line-height-base;
  color: $black;
  border-bottom: 1px solid $black;
  position: relative;
  background: $white;
  padding: 10px 0;
  width: 100%;
  text-align: left;

  @include breakpoint($mobile) {
    font-size: $font-size-base - 6;
    line-height: $line-height-base - 6;
    padding: 11px 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    right: 0;
    width: 16px;
    height: 10px;
    background-image: url("../images/pointer.svg");
    background-repeat: no-repeat;

    @include breakpoint($mobile) {
      background-image: url("../images/pointer-mobile.svg");
      width: 7px;
      height: 12px;
    }
  }

  &:hover {
    background: transparent;
  }
}

.active {
  border-bottom: none;

  &:after {
    transform: rotate(-90deg);
    transition: all .35s ease;
  }
}

.panel {
  font-family: $font-gillSans-light;
  font-weight: 300;
  font-size: $font-size-base - 6;
  line-height: $line-height-base - 7;
  color: $black;
  background-color: white;
  display: none;
  overflow: hidden;
  border-bottom: 1px solid $black;
  padding: 0 0 10px;

  ul {
    li {
      @include breakpoint($mobile) {
        font-size: $font-size-base - 6;
        line-height: $line-height-base - 7;
      }
    }

    a {
      display: block;
      padding: 5px 5px 5px 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.phone-wrap {

  @include breakpoint($mobile) {
    font-size: $font-size-base - 6;
    line-height: $line-height-base - 6;
  }
  a {
    display: block;
    padding: 4px 4px 4px 25px;

    @include breakpoint($mobile) {
      margin-bottom: 3px;
      font-size: $font-size-base - 6;
      line-height: $line-height-base - 6;
      font-family: $base-font-default;
      font-weight: 400;
    }
  }
}

