@import "variables";
@import "mixin";

.display_none {
  display: none;
}

.background-padding-lactic {
  background: $alabaster;
  padding: 55px 0;

  @include breakpoint($tablet) {
    padding: 25px 0;
  }

  @include breakpoint($mobile) {
    padding: 40px 0;
  }
}

.history-img {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 19px;
    height: 17px;
    background: url("../images/history.svg");
    background-repeat: no-repeat;
  }
}

.output-img {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: url("../images/output.svg");
    width: 19px;
    height: 17px;
    background-repeat: no-repeat;
  }
}

.email-img {
  &::before {
    content: "\f003";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.phone-img {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 17px;
    height: 17px;
    background: url("../images/phone.svg");
    background-repeat: no-repeat;

    @include breakpoint($mobile) {
      background-image: url("../images/phonr-mobile.svg");
      background-repeat: no-repeat;
    }
  }
}

.private-img {
  &::before {
    content: "\f007";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-family: "FontAwesome";
  }
}

.position-left_15 {
  position: absolute;
  left: -11px !important;
}


.overflow-y {
  height: 300px;
  overflow-y: scroll;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-15 {
  margin: 0 -10px;

  @include breakpoint($tablet) {
    margin: 0 -5px;
  }
}

.style-input-prices {
  font-family: $font-gillSans-bold;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  height: 26px;
  width: 76px;
  border-radius: 10px;
  background: $alabaster;
  border: none;
  text-align: center;

  @include breakpoint($mobile) {
    font-size: 10px;
    line-height: 12px;
    border-radius: 15px;
    height: 23px;
  }
}

.background-lactic-two {
  background: $seashell;
}

.border-radius-10 {
  border-radius: 10px;
}

.margin-top-23 {
  margin-top: -23px;

  @include breakpoint($mobile) {
    margin-top: -28px;
  }
}

.background-dark-grey {
  @include breakpoint($mobile) {
    background: $mine-shaft;
  }
}

.border-bottom {
  border-bottom: 1px solid $black;
}

.background-green {
  background: $japanese-laurel !important;
}
.background-pink {
  background: $chestnut-rose !important;
}
.background-dark-blue {
  background: $navy-blue !important;
}

.background-black {
  background: $black !important;
}
.background-red {
  background: $sangria !important;
}

.background-red-three {
  background: $guardsman-red !important;
}

.padding-bottom-5 {
  padding-bottom: 5px;

  @include breakpoint($mobile) {
    padding-bottom: 10px;
  }
}

.margin-bottom-15 {
  margin-bottom: 15px;

  @include breakpoint($mobile) {
    margin-bottom: 10px;
  }
}

.margin-bottom-30 {
  margin-bottom: 30px;

  @include breakpoint($mobile) {
    margin-bottom: 16px;
  }
}

.margin-bottom-50 {
  margin-bottom: 50px;

  @include breakpoint($desktop) {
    margin-bottom: 30px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 22px;
  }
}

.margin-bottom-60 {
  margin-bottom: 60px;

  @include breakpoint($mobile) {
    margin-bottom: 15px;
  }
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.font-weight-600 {
  font-family: $font-gillSans-bold !important;
  font-weight: 600 !important;
}

.width-100 {
  max-width: 100% !important;
  width: 100% !important;
}

.i-md {
  padding: 19px 23px !important;

  @include breakpoint($mobile) {
    padding: 12px 14px !important;
  }
}

.breadcrumb-fz-12 {
  @include breakpoint($mobile) {
    li {
      a {
        font-size: 12px;
      }
    }
  }
}










