@import "variables";
@import "mixin";

.display_none {
  display: none;
}

.background-padding_lactic {
  background: $lactic;
  padding: 55px 0;

  @include breakpoint($tablet) {
    padding: 25px 0;
  }
}

.history-img {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 19px;
    height: 17px;
    background: url("../images/history.svg");
    background-repeat: no-repeat;
  }
}

.output-img {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    background: url("../images/output.svg");
    width: 19px;
    height: 17px;
    background-repeat: no-repeat;
  }
}

.mail-img {
  position: relative;

  &::before {
    content: "\f003";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 25px;
  }
}

.phone-img {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 17px;
    height: 17px;
    background: url("../images/phone.svg");
    background-repeat: no-repeat;

    @include breakpoint($mobile) {
      background-image: url("../images/phonr-mobile.svg");
      background-repeat: no-repeat;
    }
  }
}

.private-img {
  position: relative;

  &::before {
    content: "\f007";
    position: absolute;
    left: 0;
    top: 8pxpx;
    font-family: "FontAwesome";
  }
}

.position-left_15 {
  position: absolute;
  left: -11px !important;
}


.overflow-y {
  height: 300px;
  overflow-y: scroll;
}


.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .col {
    width: 50%;
    padding: 0 15px;
  }
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


