@import "variables";
@import "mixin";

.display_none {
  display: none;
}

.background-padding-lactic {
  background: $lactic;
  padding: 55px 0;

  @include breakpoint($tablet) {
    padding: 25px 0;
  }

  @include breakpoint($mobile) {
    padding: 40px 0;
  }
}

.history-img {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 19px;
    height: 17px;
    background: url("../images/history.svg");
    background-repeat: no-repeat;
  }
}

.output-img {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    background: url("../images/output.svg");
    width: 19px;
    height: 17px;
    background-repeat: no-repeat;
  }
}

.mail-img {
  position: relative;

  &::before {
    content: "\f003";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 25px;
  }
}

.phone-img {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    width: 17px;
    height: 17px;
    background: url("../images/phone.svg");
    background-repeat: no-repeat;

    @include breakpoint($mobile) {
      background-image: url("../images/phonr-mobile.svg");
      background-repeat: no-repeat;
    }
  }
}

.private-img {
  position: relative;

  &::before {
    content: "\f007";
    position: absolute;
    left: 0;
    top: 8px;
    font-family: "FontAwesome";
  }
}

.position-left_15 {
  position: absolute;
  left: -11px !important;
}


.overflow-y {
  height: 300px;
  overflow-y: scroll;
}


.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .col {
    width: 50%;
    padding: 0 15px;
  }
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin-15 {
  margin: 0 -15px;

  @include breakpoint($desktop) {
    margin: 0 -10px;
  }

  @include breakpoint($tablet) {
    margin: 0 -5px;
  }
}

.style-input-prices {
  font-family: 'GillSans-Bold';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  height: 26px;
  width: 76px;
  border-radius: 10px;
  background: $lactic;
  border: none;
  text-align: center;

  @include breakpoint($mobile) {
    font-size: 10px;
    line-height: 12px;
    border-radius: 15px;
    height: 23px;
  }
}

.background-lactic-two {
  background: $lactic-two;
}

.border-radius-10 {
  border-radius: 10px;
}

.margin-top-23 {
  margin-top: -23px;

  @include breakpoint($mobile) {
    margin-top: -28px;
  }
}

.background-dark-grey {
  @include breakpoint($mobile) {
    background: $dark-grey;
  }
}

.border-bottom {
  border-bottom: 1px solid $black;
}

.background-green {
  background: $green !important;
}
.background-pink {
  background: $light-red-two !important;
}
.background-dark-blue {
  background: $dark-blue !important;
}

.background-black {
  background: $black !important;
}
.background-red {
  background: $red !important;
}

.background-red-three {
  background: $light-red-three !important;
}

.padding-bottom-5 {
  padding-bottom: 5px;

  @include breakpoint($mobile) {
    padding-bottom: 10px;
  }
}

.margin-bottom-15 {
  margin-bottom: 15px;

  @include breakpoint($mobile) {
    margin-bottom: 10px;
  }
}

.margin-bottom-50 {
  margin-bottom: 50px;

  @include breakpoint($desktop) {
    margin-bottom: 30px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 22px;
  }
}

.margin-bottom-60 {
  margin-bottom: 60px;

  @include breakpoint($mobile) {
    margin-bottom: 15px;
  }
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.font-weight-600 {
  font-family: 'GillSans-Bold' !important;
  font-weight: 600 !important;
}

.width-100 {
  max-width: 100% !important;
  width: 100% !important;
}









