@import "variables";
@import "mixin";

.orders-wrap {
  margin-bottom: 50px;

  @include breakpoint($mobile) {
    margin-bottom: 25px;
  }

  .display_none {
    display: block;

    @include breakpoint($mobile) {
      display: none;
    }
  }

  .row {
    align-items: flex-start;
  }
}

.order-list {
  li {
    display: flex;
    margin-bottom: 45px;

    @include breakpoint($tablet) {
      margin-bottom: 25px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 10px;
    }
  }

  .img-area {
    max-width: 188px;
    margin-right: 30px;

    @include breakpoint($desktop) {
      margin-right: 20px;
      max-width: 160px;
    }

    @include breakpoint($tablet) {
      max-width: 100px;
    }

    @include breakpoint($mobile) {
      max-width: 140px;
      margin-right: 15px;
    }

    img {
      border-radius: 20px;
    }
  }

  .description {
    max-width: 440px;

    @include breakpoint($desktop) {
      min-width: 300px;
      width: 100%;
    }

    @include breakpoint($tablet) {
      min-width: 220px;
    }

    @include breakpoint($mobile) {
      min-width: 130px;
    }

    h2 {
      font-family: $base-font-default;
      font-weight: 400;
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 7px;
      text-transform: uppercase;

      @include breakpoint($mobile) {
        font-size: 14px;
        line-height: 17px;
      }
    }

    h3 {
      font-family: $font-gillSans-light;
      font-weight: 300;
      font-size: 21px;
      line-height: 21px;
      margin-bottom: 26px;

      @include breakpoint($mobile) {
        font-family: $base-font-default;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 5px;
      }
    }

    strong {
      display: block;
      font-family: $font-gillSans-bold;
      font-weight: 600;
      font-size: 21px;
      line-height: 26px;
      margin-bottom: 10px;

      @include breakpoint($mobile) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }

    p {
      font-family: $font-gillSans-light;
      font-weight: 300;
      font-size: 21px;
      line-height: 24px;

      @include breakpoint($mobile) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}