$white: #fff;
$seashell: #f1f1f1;
$alabaster: #fafafa;

$silver: #bfbfbf;
$silver-middle: #bebebe;
$gallery: #ebebeb;

$black: #000;
$mine-shaft-black: #211e1e;
$mine-shaft-middle: #383434;
$mine-shaft: #333;

$la-palma: #259e0f;
$japanese-laurel: #117900;

$burnt-sienna: #eb5757;
$tall-poppy: #bc2b2b;
$guardsman-red: #d30000;
$sangria: #9C0101;

$red-stage: #c76103;
$ochre: #db7a25;

$chestnut-rose: #c85d6c;
$navy-blue: #001375;

//font page
$base-font-default: 'GillSans-Regular';
$font-gillSans-light: 'GillSans-Light';
$font-gillSans-bold: 'GillSans-Bold';
$font-gillSans-extra-bold: 'GillSansExtraBold';

//Body
$base-text-color: $black;
$base-background: $white;
$base-font-family: $base-font-default;
$font-size-base: 20px;
$line-height-base: 23px;
$base-min-width: 320px