$white: #fff;
$black: #000;
$dark: #333;
$dark-grey: #383434;
$dark-grey-two: #BFBFBF;
$middle-grey: #BEBEBE;
$lactic: #FAFAFA;
$lactic-two: #F1F1F1;
$dark-grey: #EBEBEB;
$green: #117900;
$red: #9C0101;
$orange: #C76103;
$light-green: #259e0f;
$light-red: #bc2b2b;
$light-orange: #db7a25;
$light-black: #211e1e;
$light-red: #EB5757;
$light-red-two: #C85D6C;


